{
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "plugins": ["graphql", "import", "@babel", "react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "curly": "warn",
    "no-underscore-dangle": "off",
    "import/extensions": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
