<section class="sec-announces">
    <div class="container">
        <h2 class="sec-announces__title">Похожие статьи</h2>
        <div class="sec-announces__slider js-announces-slider">

            <div class="sec-announces__slide">
                <div class="blog-card">
                    <a class="blog-card__pict">
                        <img class="blog-card__img" src="{{ asset('images/blog/blog-card_01.jpg') }}" alt="Название статьи">
                    </a>
                    <div class="blog-card__text">
                        <h3 class="blog-card__title">Название статьи</h3>
                        <div class="blog-card__theme">Раздел</div>
                        <div class="blog-card__note">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate
                            eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit
                        </div>
                        <div class="blog-card__date">20 января, 2018</div>
                    </div>
                </div>
            </div><!-- END sec-announces__slide -->

        </div><!-- END sec-announces__slider -->
    </div><!-- END container -->
</section><!-- END sec-announces -->
