<div class="ucs-gallery js-ucs-gallery">
    {% for img in gallery %}
        <div class="ucs-gallery__slide">
            <img class="ucs-gallery__img lazyload" data-src="{{ path ~ img.img }}" loading='lazy' alt="{{ img.txt ? img.txt : 'Слайд' }}">
            {% if img.txt %}
                <div class="ucs-gallery__txt">{{ img.txt }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
