<div class="ucs-gallery swiper-container js-ucs-gallery">
    <div class="swiper-wrapper">
        {% for img in gallery %}
            <div class="ucs-gallery__slide swiper-slide">
                <img class="ucs-gallery__img lazyload" data-src="{{ path ~ img.img }}" loading='lazy' alt="{{ img.txt ? img.txt : 'Слайд' }}">
                {% if img.txt %}
                    <div class="ucs-gallery__txt">{{ img.txt }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="slick-arrow slick-prev"></div>
    <div class="slick-arrow slick-next"></div>
</div>
