<div class="share">
    <div class="share__title">Поделиться статьей:</div>
    <ul class="share__list">
        <li class="share__item">
            <a class="share__link icon-yt" role="button"><span>100</span></a>
        </li>
        <li class="share__item">
            <a class="share__link icon-vk" role="button"><span>0</span></a>
        </li>
        <li class="share__item">
            <a class="share__link icon-tw" role="button"><span>57</span></a>
        </li>
        <li class="share__item">
            <a class="share__link icon-fb" role="button"><span>934</span></a>
        </li>
    </ul>
</div>
