{% macro renderFeatures(items, class) %}
    {% set featuresItems = {
        'error': {
            'icon': 'icon-f_error',
            'title': 'ERROR',
            'note': 'NO ITEM',
        },
        'piston': {
            'icon': 'icon-f_piston',
            'title': 'Гарантия на работы и запчасти',
            'note': '1 год гарантии на работы <br> 1 год гарантии на оригинальные запчасти<br> 
                     2 месяца гарантии на неоригинальные зачасти',
        },
        'mechanic': {
            'icon': 'icon-f_mechanic',
            'title': 'Работаем на сверхзвуковой скорости',
            'note': 'Наши специалисты знают все особенности профильных марок и выполняют работы с максимально
                     возможной скоростью',
        },
        'heart': {
            'icon': 'icon-f_heart',
            'title': 'Без очередей и за один приезд',
            'note': 'Мы работаем строго по записи, что гарантирует отсутствие очередей.
                     Постоянное наличие востребованных запчастей',
        },
        'star': {
            'icon': 'icon-f_star',
            'title': '100% <br> гарантия ремонта',
            'note': 'Если мы не смогли починить - вы ничего не оплачиваете. Оплата только за результат',
        },
        'keys': {
            'icon': 'icon-f_keys',
            'title': 'Не обязываем к ремонту',
            'note': 'Вы сами решаете когда и как производить ремонт, мы только рекомендуем и консультируем',
        },
        'growth': {
            'icon': 'icon-f_growth',
            'title': 'Не предлагаем ненужных услуг',
            'note': 'Никаких навязываний услуг и товаров. Наши рекомендации всего лишь рекомендации, решение принимаете вы',
        },
        'inform': {
            'icon': 'icon-f_inform',
            'title': 'Качественная консультация специалистов',
            'note': 'Наши специалисты подробно объяснят из-за чего произошла поломка и как её избежать в будущем',
        },
        'chassis': {
            'icon': 'icon-f_chassis',
            'title': 'Ходовая <br> часть',
            'note': 'Очень важно регулярно следить за состоянием ходовой части автомобиля, своевременный ремонт подвески делает вождение автомобиля безопасным'
        },
        'fuel': {
            'icon': 'icon-f_fuel',
            'title': 'Топливная <br> система',
            'note': 'Своевременное обслуживание топливной системы избавит вас от дополнительных трат'
        },
        'alarm': {
            'icon': 'icon-f_alarm',
            'title': 'Электронные <br>автомобильные системы',
            'note': 'Диагностика электронных систем проводится с помощью современного оборудования опытными мастерами. Дадим подробный ответ по вашей проблеме'
        },
        'snow': {
            'icon': 'icon-f_snow',
            'title': 'Кондиционер',
            'note': 'Исправная система кондиционирование 90% комфорта автомобиля в жаркое время года'
        },
        'search': {
            'icon': 'icon-f_search',
            'title': 'Общая <br> диагностика',
            'note': 'Наши специалисты подробно объяснят из-за чего произошла поломка и как её избежать в будущем'
        },
        'painting': {
            'icon': 'icon-f_painting',
            'title': 'Лакокрасочные покрытия',
            'note': 'Ухоженный автомобиль всегда красив, независимо от возраста'
        },
        'motor': {
            'icon': 'icon-f_motor',
            'title': 'Двигатель',
            'note': 'Двигатель - сердце автомобиля. Мы расскажем, как не довести до остановки сердца'
        },
        'transmision': {
            'icon': 'icon-f_transmision',
            'title': 'АКПП, МКПП, <br> CVT',
            'note': 'Своевременное и квалифицированное обслуживание трансмиссии продлевает срок службы в несколько раз'
        },
        'suspension': {
            'icon': 'icon-f_suspension',
            'title': 'Не обязываем <br> к ремонту',
            'note': 'Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.',
        },
        'speed': {
            'icon': 'icon-f_speed',
            'title': 'Управимся <br> за 40 минут',
            'note': 'Фирменная диагностика более чем по 70 пунктам в кратчайшие сроки',
        },
        'piggy': {
            'icon': 'icon-f_piggy',
            'title': 'Цены неизменны <br> год за годом',
            'note': 'Цены на работы действительны в течение года',
        },
        'binocul': {
            'icon': 'icon-f_binocul',
            'title': 'Наблюдайте <br> за работой',
            'note': 'У нас свободный доступ в ремзону, все найденные недостатки будут продемонстрированы. Но не забывайте про технику безопасности',
        },
        'success': {
            'icon': 'icon-f_success',
            'title': 'Оперативно, <br> без очереди',
            'note': 'Корпоративные машины обслуживаются без очереди'
        },
        'tire': {
            'icon': 'icon-f_tire',
            'title': 'Точное новое оборудование',
            'note': 'Полностью компьютеризированное автоматическое оборудование исключает человеческий фактор'
        }
    } %}

    <ul class="{{ class }}">
        {% for item in items %}
            {% set feature = attribute(featuresItems, item) is defined ?
                             attribute(featuresItems, item) :
                             attribute(featuresItems, 'error') %}
            <li class="feature sec-features__item">
                <i class="feature__icon {{ feature.icon }}"></i>
                <h3 class="feature__title">{{ feature.title | raw }}</h3>
                <div class="feature__note">{{ feature.note | raw }}</div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
