{% extends 'layout_white.html.twig' %}

{% set article = {
    'title': 'Обрыв ремня ГРМ на 2JZ-GE',
    'background': 'break_timing_belt_2jzge_01.jpg',
    'date': '29 марта 2015',
    'img_path': 'images/blog/break_timing_belt_2jzgte/'
} %}


{% block content %}
    <main class="site-main article" id="site-main">

    {{ include('blog/chunks/head.html.twig') }}

        <div class="article__body" id="js-article-page">
            <div class="user-content-styles">
                <div class="ucs-lead">
                    Привезли к нам на ремонт автомобиль LEXUS GS 300 с двигателем 2JZ-GE<br>
                    Предыстория такая, ехал человек ехал,и тут двигатель внезапно заглох и машина встала.
                </div>
                <p>
                    Обратился он в первый попавшийся сервис, где было выяснено что оборвало ремень ГРМ.<br>
                    Местные сервисмены, проверив компрессию и выяснив что в 3-ем, 5-ом и 6-ом цилиндре компрессия упала до 5, вежливо открестились от дальнейшего продолжения ремонта.
                </p>
                <p>
                    И так данный автомобиль на эвакуаторе попадает в наш тех-центр и мы начинаем разбираться дальше.<br>
                    Сняв головку блока цилиндров, нашему взору предстало 6 выпускных клапанов,принявших не естественную позу в закрытом состоянии.
                </p>
                <blockquote>
                    Разобрав головку блока, выявилось следующее: что кроме шести загнутых клапанов,треснули металлокерамические направляющие втулки в которых собственно и ходит клапан.
                </blockquote>
                <p>
                    В итоге посчитав сумму денег, которая понадобиться для восстановления данной ГБЦ, было принято решение поменять её на б/у с не большим косметическим ремонтом (правка клапанов и замена сальников штока клапанов)
                </p>

                {% set figure = {
                    'img': 'break_timing_belt_2jzge_03.jpg',
                    'txt': '6 клапанов закончили свой путь'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Можно сказать, что проведенный нами ремонт вышел вполне в бюджетную сумму, но последствия могли быть и намного печальнее. Допустим если бы оторвало тарелку клапана,она запросто могла пробить и гильзу блока, и тогда проблем было бы ещё больше.
                </p>

                <blockquote>
                    А можно было бы всего этого избежать, вовремя поменяв ремень ГРМ.<br>
                    Берегите свои деньги и время.
                </blockquote>

                {% set galleryItems = [
                    {'img': 'break_timing_belt_2jzge_01.jpg', 'txt': ''},
                    {'img': 'break_timing_belt_2jzge_02.jpg', 'txt': ''},
                    {'img': 'break_timing_belt_2jzge_04.jpg', 'txt': ''},
                    {'img': 'break_timing_belt_2jzge_05.jpg', 'txt': ''},
                    {'img': 'break_timing_belt_2jzge_06.jpg', 'txt': ''},
                    {'img': 'break_timing_belt_2jzge_07.jpg', 'txt': ''},
                ] %}

                {{ include('blog/chunks/gallery.html.twig') }}

            </div><!-- END user-content-styles -->
        </div><!-- END article__body -->
    </main><!-- END site-main -->
{% endblock %}
