{% extends 'layout_white.html.twig' %}

{% set article = {
    'title': 'Проблемы с ГБЦ на двигателе MR20DE',
    'background': 'article_pic_01.jpg',
    'date': '12 октября 2017',
    'img_path': 'images/blog/head_of_mr20de_problem/'
} %}


{% block content %}
    <main class="site-main article" id="site-main">

        {{ include('blog/chunks/head.html.twig') }}

        <div class="article__body" id="js-article-page">
            <div class="user-content-styles">
                <div class="ucs-lead">
                    Здравствуйте уважаемые гости сайта технического центра АвтоМагистр.
                </div>
                <p>
                    Давненько мы ни о чем не писали,хотя материала для нашей новой рубрике накопилось очень и очень
                    много,но к сожалению дефицит свободного времени не позволяет подготовить новый материал на
                    обозрение. Но его величество случай в конце концов подтолкнул найти в себе силы и подготовить не
                    большую статью на тему двигателей MR20DE,а в частности проблем с ГБЦ, данного силового агрегата.
                </p>
                {% set figure = {
                    'img': 'article_pic_02.jpg',
                    'txt': 'ГБЦ двигателя MR20DE'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Я долго думал о подготовке отдельной статьи и не привязывать её к рубрике "Вот такие пироги" но в
                    итоге решил прикрепить её к данному разделу,так как пироги ещё те.<br>
                    Но отбросим предисловия и перейдем уже непосредственно к теме о которой пойдет речь в данном обзоре.
                </p>
                <blockquote>
                    Уже давно не секрет, что бывают случаи когда после замены свечей зажигания, начинаются проблемы с
                    работой двигателя, а конкретно начинает попадать антифриз в камеру сгорания,что приводит к
                    неустойчивой работе силового агрегата.Сейчас мы детально разберем почему же все таки это происходит.
                </blockquote>
                <p>
                    В интернете есть масса отзывов людей кто столкнулся с подобной проблемой на своих автомобилях.Так
                    как это происходит после ремонта,либо сразу,либо в течении нескольких дней,то все хором "хаят", ну
                    конечно же криворуких механиков,кого же ещё, которые тянут эти свечи чуть ли не трубами надетыми на
                    камазовские воротки.Ну так вот повелось в нашей жизни,что всегда кто то должен быть крайний.Хотя
                    действительно суть в этом тоже есть
                </p>
                <p>
                    И так постараемся разобраться в этом вопросе.
                </p>
                <p>
                    Головки блока на двигателях серии MR,полностью изготовлены из алюминиевого сплава,и конструктивно
                    мало чем отличаются от ГБЦ других современных двигателей.Но есть один нюанс,стенки камеры сгорания
                    очень тонкие и действительно боятся дополнительных физических нагрузок,даже при банальном перегреве
                    двигателя,стенка может лопнуть.При езде на газу,шансы увеличиваются,так как температура горения газа
                    выше чем бензина,и камера сгорания несет дополнительные нагрузки, при открытом пламени и давления
                    газов,но все прелести "Газовой терапии" мы уже обсуждали в одной из статей на нашем сайте.
                </p>
                <p>
                    Сразу оговорюсь,что при употребление слова "лопнет" не означает что вся камера сгорания вываливается
                    в цилиндр,а всего навсего расходится трещина,через которую начинает течь антифриз в камеру сгорания.
                </p>
                <p>
                    Но откуда берутся эти трещины в ГБЦ? Попробуем все таки разобраться,сопоставить различные факты и
                    проверить статистику.
                </p>
                <p>
                    Когда начались подобные случаи,на гарантийных машинах, Ниссан Мотор Рус,менял ГБЦ без вопросов по
                    гарантии,но ни как не комментируя,в чем все таки суть.Но проблема скорее всего кроется в браке самой
                    головки блока,так как нередкими были случаи когда трещина расползалась при пробегах от 10 -ти до
                    30-ти тысяч,то есть до вмешательства в систему зажигания,Рукасто-молоткастого механика,и не важно с
                    дилерского он центра или с гаражей.И подобных случаев была масса.
                </p>
                <p>
                    Далее рассмотрим случай который может случится действительно при несоблюдении момента затяжки.Даже
                    если камера сгорания находится в эталоном состоянии,но механик действительно очень сильно "приложит
                    руку" то камера конечно может не сдюжить и дать трещину.Но как правило таких посещений должно быть
                    несколько.За один раз свернуть её вряд ли получится.Но чем чаще свечи меняют без соблюдения момента
                    затяжки,тем выше риск "попасть" на замену головки блока,даже не имеющей брака при производстве. В
                    свое время работая на дилере был свидетелем как ,горе-механики "забивали" свечи
                    пневмогайковертом,чтобы поскорее сделать одну машину,и хапнуть другую.Конечно при таком обслуживании
                    долго эта головка бегать не будет,и рано или поздно у кого нибудь в руках рассыпется.
                </p>
                <p>
                    Ну и самый распространенный по статистике случай.<br>
                    Заведомо в новой ГБЦ есть микро трещины,пока они не достигли своих пиковых значений,двигатель
                    работает идеально.
                </p>
                <blockquote>
                    Со временем от физических нагрузок,которые принимает камера сгорания в процессе работы трещина
                    расползается.Финал же случается , как раз в 90% случаях при замене свечей.Даже при откручивание
                    свечки при наличие дефекта в ГБЦ,камера может лопнуть,не говоря уже при закручивание свечи,даже если
                    механик делает затяжку свечи с требуемым заводом изготовителем моментом.
                </blockquote>
                <p>
                    Почему мы уверены что это заводской брак,если компания Ниссан не дает ни какой информации на этот
                    счет.
                </p>
                <div class="row">
                    <div class="col_11-12">
                        <ul>
                            <li>В большинстве своем,проблема случается при пробеге от 90 тысяч,то есть двигатель уже
                                славно потрудился,и заведомо бракованное место в ГБЦ достигло своего пика.
                            </li>
                            <li>У нас есть масса клиентов с пробегом 300-350 тысяч километров,у которых таких проблем
                                нет.Значит,не все ГБЦ идут с браком.
                            </li>
                            <li>По статистике лопается камера 1-го и (или) 4-го цилиндра,не разу на нашей практике мы не
                                сталкивались с трещинами во 2-ом и 3-ем цилиндре.
                            </li>
                        </ul>
                    </div>
                </div>
                <p>

                </p>
                <p>
                    К сожалению сделать техническую экспертизу ГБЦ ,и поставить точку в этом вопросе,очень дорого,и мы
                    пока не готовы её реализовать,но как будет возможность обязательно это сделаем.Но все доводы говорят
                    сами за себя.
                </p>
                <blockquote>
                    В нашем тех-центре,мы меняем свечи с помощью специальной,свечной, динамометрической головки.Поэтому
                    шансы перетянуть,не дотянуть,сломать и т.д сводятся к нулю.
                </blockquote>
                {% set figure = {
                    'img': 'article_pic_03.jpg',
                    'txt': ''
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Но если камера сгорания все таки имеет проблемы,затяжка свечи с требуемым моментом к сожалению не
                    решит общей проблемы.
                </p>
            </div><!-- END user-content-styles -->
        </div><!-- END article__body -->
    </main><!-- END site-main -->
{% endblock %}
