{% extends 'blog/layout_article.html.twig' %}

{% set article = {
    'title': 'Замена цепи в двигателе Nissan Murano',
    'background': 'article_pic_60.jpg',
    'date': '09 июля 2015',
    'img_path': '/images/blog/murano_chain/',
    'theme': 'Опыт'
} %}


{% block article_body %}
    <div class="article__body" id="js-article-page">
        <div class="user-content-styles">
            <div class="ucs-lead">
                Предлагаем вам получить эстетическое удовольствие от сложной и красивой работы.
            </div>
            <p>
                Процесс замены ремня ГРМ, как уже говорилось ранее, сложный и трудоёмкий. Он требует ответственного
                отношения и внимания, точности и аккуратности, последовательности и следования техпроцессу.Так как
                замена цепи требует весьма основательной разборки многих узлов, есть смысл вместе с заменой цепи
                выполнить ещё ряд работ. Например, часто производится замена помпы - она также находится за боковой
                крышкой двигателя и для её замены нужно снять цепь. Срок службы помпы обычно 120-130 тысяч км, что
                примерно равно сроку службы цепи, поэтому они часто меняются вместе.Также вместе с заменой цепи
                часто меняются все прокладки - боковой крышки, клапанной крышки, прокладки соленоидов и т.п.Сам
                процесс замены цепи, как уже говорилось, довольно трудоёмок. Отчасти потому что необходимо снимать
                двигатель. Рассмотрим все эти шаги в отдельности.
            </p>
            <blockquote>
                Процесс съемки и установки двигателя - не столько сложный, сколько трудоёмкий, тяжелый и требующий
                аккуратности. Во время съемки и установки важно не повредить различные элементы. Всё должно быть в
                целости и сохранности, даже то, что может показаться мелочью: не должен быть отломан пластик, должны
                быть закручены все болты. Что и говорить об отсутствии "лишних" деталей.
            </blockquote>
            <p>
                Если наблюдать за процессом разборки со стороны - очень просто потерять "нить повествования". Одна
                за одной, проделываются десятки операций - быстрых и мелких (но может быть при этом очень важных),
                тяжелых и долгих (при этом по сути своей простых). Всё встаёт на свои места, если из наблюдателя "со
                стороны" превратиться в непосредственного участника процесса. Или, хотя бы, просто попробовать
                разобраться в процессе. Паззл из операций начинает собираться в довольно стройную последовательность
                действий, которую зачастую невозможно проделать в другом порядке, упустив какие-то моменты или
                оставив их на потом. Почему так получается? Ответ простой: пока не разобраны некоторые другие узлы,
                к нужным узлам нет доступа. Каждое новое действие в процессе разборки открывает возможность
                какого-то другого действия или нескольких действий.Можно скептически относиться к целесообразности
                каких-то действий. Например, можно сказать, что цепь можно поменять и без съемки двигателя.
                Действительно, зачем? Казалось бы, цепь не затрагивает ни один из узлов, отвечающих за крепление
                двигателя. На практике же получается, что для замены цепи без съемки двигателя нужно сломать руку в
                трех местах. Да и ошибиться в таких условиях проще (если получилось найти ломающуюся руку) -
                например, повредить крышку или неточно установить цепь.
            </p>
            <p>
                В процессе разобрки и сборки стоит учитывать ряд нюансов двигателя. Зачем? Можно сказать, чтобы
                убить двух зайцев сразу. А можно сказать и иначе - чтобы не делать одну и ту же большую работу
                дважды.Первый нюанс - особенность замены свечей. Этот нюанс касается всех V-образных двигателей, так
                как из-за их конструктивных особенностей для доступа к свечам требуется снятие впускного коллектора.
                Поэтому при разборке двигателя лучше поставить новые свечи, пока доступ к ним свободный. При съеме
                коллектора стоит обратить внимание на прокладку коллектора. Несмотря на то, что она многоразовая,
                рекомендуется её менять каждое второе снятие коллектора.Вторая особенность - помпа. Как уже
                говорилось ранее, срок службы помпы - примерно 120-130 тысяч км. Для замены помпы нужно снимать
                боковую крышку и цепь - а, значит, снимать, разбирать двигатель, да и проделывать все те же операции
                снова.Следующая особенность, вернее, группа особенностей - набор резиновых прокладок. На фото хорошо
                видно (по наличию масла снаружи), что прокладки клапанов крышек текли, и текли давно, поэтому
                прокладки нужно заменить. Рекомендуется менять прокладки вне зависимости от того, текут они или нет,
                потому что в данный момент доступ к ним свободный. В целом, резиновые прокладки никак не
                диагностируются и заменяются полным комплектом при выполнении подобных работ.Также осматриваюся
                пластиковые салазки (направляющие), в которые входит цепь. Если салазки изношены - на них появляются
                бороздки, если бороздки больше 1мм в глубину - салазки очень сильно изношены.Список запчастей,
                необходимых для процесса замены цепи ГРМ представлен ниже в таблице (допинать Кирилла сделать
                таблицу).Затрагивая тему необходимых запчастей стоит заметить, что при съеме двигателя становятся
                доступны многие узлы подвески - возможно, уже на этапе сборки будет иметь смысл заодно заменить при
                необходимости, например, стойки стабилизаторов или рулевые наконечники. Любую часть подвески,
                демонтируемую при съеме
            </p>
            <p>
                Казалось бы, уже столько работ выполнено, но, на самом деле, это только начало. Основная часть работ
                - установка цепи - начинается только сейчас. На двигателе VQ35DE цепь состоит из трех частей - двух
                малых цепей и одной большой.Для того, чтобы надеть малые цепи - необходимо снять шестерни
                распредвалов. Со временем шестерня затягиватеся с большим усилием, и для того, чтобы её открутить,
                нужно зафиксировать распредвал обычным ключом. Это операция, пожалуй, претендует на звание самой
                тяжелой или требующей наибольших усилий во всём процессе.Просто надеть цепь - недостаточно. Если
                снятие шестерней распредвалов можно назвать самым тяжелым процессом, то корректная установка цепи -
                однозначно является операцией, требующей наибольшей точности следования инструкции и
                аккуратности.Если снять и разобрать двигатель можно пользуясь какими-то общими соображениями, то для
                установки цепи строго нужна инструкция. В прочем, это не совсем верно. Перед снятием цепи двигатель
                нужно выставить по меткам, которые содержатся в инструкции. В ней содержится много важных данных,
                например усилия, с которым закручиваются гайки, метки, по которым устанавливается цепь и т.п.
                Несоблюдение требований инструкции скорее всего приведет к фатальным последствиям для
                двигателя.Помимо точности следования инструкции стоит обратить внимание на инструмент. Для
                затягивания болтов с усилием, обозначенным в инструкции, необходим динамометрический ключ. Так как
                данная работа требует достаточной точности, недопустимо использовать недостаточно качественные или
                неточные ключи, например со стрелкой - помимо низкой точности (по шкале), они неудобны в
                использовании, что также нарушает точность. Например, закручивая с усилием 10 Нм можно ошибиться на
                3 Нм, т.е. фактически точность будет порядка 30%. При замене цепи в данном случае использовались
                исключительно цифровые динамометрические ключи с точностью 0,4 Нм и 1 Нм.
            </p>
            <p>
                Когда цепь успешно установлена, начинается этап сборки. Пусть самое сложное уже позади, предстоит
                выполнить ещё немало работы. Если до этого процессы были тяжелыми или требующими точности, то после
                установки цепи начинается череда довольно монотонных операций - нужно очистить двигатель и снятые с
                него снятые детали перед установкой.Со временем на двигателе накапливаются отложения. Если двигатель
                не мыть какое-то время - отложения становятся настолько большими, что рано или поздно они
                отваливаются. Обычно это происходит при смене типа масла. Например, долгое время в двигатель
                заливалось масло Castrol, в результате чего при эксплуатации образовывалось большое количество
                масляного нагара. Затем по какой-то причине было решено сменить масло - и было залито, например,
                Mobil - масло начало отмывать накопившийся нагар, от чего нагар начал отваливаться. Так как мотор
                цепной - вкрапления отвалившегося нагара засоряют канал натяжителя, который не толще иголки. Когда
                канал забивается, натяжитель перестаёт работать, цепь ослабляется и растягивается. В результате
                приходим к тому, что было, поэтому очистка обязательна.Особое внимание уделяется очистке
                поверхностей, прилегающих друг к другу, на которые будет наноситься герметик. Во-первых, нужно
                удалить остатки старого герметика. Для этого обычно используется нож. Стоит быть предельно
                аккуратными при очистке - в данном двигателе используется алюминий, а не, например, чугун - случайно
                повредить поверхность гораздо проще, из-за чего места соединений могут в последствии течь, что может
                грозить гораздо более дорогостоящим ремонтом.После удаления остатков старого герметика ножом и
                обработки поверхностей специальным очистителем, важно не забыть высушить места, на которые будет
                наноситься герметик и проследить, чтобы на них не было масляных пятен. В противном случае герметик
                может плохо пристать. Высушивать детали внутри можно, но не обязательно - используемые очищающие
                жидкости испаряются.И, конечно, нельзя не обратить внимание на выбор самого герметика. В данном
                случае использовался лучший герметик из линейки Loctite. Наверное, можно сказать, что он не течет...
                никогда, если речь идёт о подобном применении. Даже если проехать 100 тысяч км. Обычно проблемы
                герметиков видны не сразу - со временем, как и сальники, герметики начинают течь. Сэкономив на этой
                простой вещи можно получить проблемы, которые рано или поздно приведут к аналогичной работе. Но
                выбранный герметик производства Loctite с частицами меди лишен этого недостатка, поэтому и
                используется в данном случае.
            </p>
            <p>
                И вот, машина практически готова: стоит новая цепь, двигатель собран и уже установлен обратно.
                Ничего не отломано и не осталось лишних деталей - это, конечно, само собой разумеется. Работы
                выполнены на высоком уровне. Однако и просто собрать всё обратно - недостаточно. Во время разборки
                были слиты жидкости - антифриз, моторное масло, жидкость гура. Следует залить новые жидкости, но и
                этого тоже недостаточно! Не стоит заводить машину сразу надолго: нужно, чтобы жидкости прокачались.
                После того, как машина успешно завелась, нужно немного покрутить рулём от упора до упора и долить
                жидкости гура до нужного уровня. И только теперь процесс можно считать завершенным и завершенным
                успешно.
            </p>
            {% for i in 1..9 %}

                {% include('blog/chunks/figure.html.twig') with {
                    'img': article.img_path ~ 'article_pic_0' ~ i ~ '.jpg',
                    'txt': ''
                } only %}

            {% endfor %}

            {% for i in 10..64 %}

                {% include('blog/chunks/figure.html.twig') with {
                    'img': article.img_path ~ 'article_pic_' ~ i ~ '.jpg',
                    'txt': ''
                } only %}

            {% endfor %}
        </div><!-- END user-content-styles -->
    </div><!-- END article__body -->
{% endblock %}
