{% extends "blog/layout_article.html.twig" %}

{% set article = {
    "title": "Обучение дроссельной заслонки на автомобилях Тойота",
    "background": "article_pic_01.jpg",
    "date": "30 ноября 2012",
    "img_path": "/images/blog/obuchenie_drosselja_toyota/",
    "theme": "Инструкция"
} %}

{% block article_body %}
    <div class="article__body" id="js-article-page">
        <div class="user-content-styles">
            <blockquote>
                Данную процедуру необходимо осуществлять после каждого отключения дроссельной заслонки на автомобилях Toyota оборудованных электронным управлениям дроссельной заслонки. Данная процедура не является обучением клапана холостого хода.
            </blockquote>
            <div class="ucs-lead">
                Необходимые условия перед началом процедуры:
            </div>
            <div class="row">
                <div class="col_11-12">
                    <ul>
                        <li>Двигатель прогрет до рабочей температуры</li>
                        <li>Все элетронные приборы (печка, световые приборы, магнитолла и т.д.) выключены</li>
                        <li>Автомобиль установлен на ровной площадке</li>
                        <li>Рычаг КПП установлен в положение N</li>
                    </ul>
                </div>
            </div>

            <div class="ucs-lead">
                Описание процедуры обучения
            </div>
            <div class="row">
                <div class="col_11-12">
                    <ol>
                        <li>Снять клемму аккумулятора на 5 минут</li>
                        <li>Надеть клемму аккумулятора</li>
                        <li>Включить зажигание (должны загореться индикаторы на приборной панели), но не заводить автомобиль</li>
                        <li>Ожидать примерно 30 секунд</li>
                        <li>Не выключая зажигание, снять клемму аккумулятора на 5 минут</li>
                        <li>Надеть клемму аккумулятора и завести автомобиль</li>
                        <li>Ничего не меняя, ожидать примерно 15 минут. Пошагово обороты будут падать до нормальных</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
