{% extends "blog/layout_article.html.twig" %}

{% set article = {
    "title": "Самодиагностика автомобилей Ниссан",
    "background": "article_pic_02.jpg",
    "date": "06 июля 2013",
    "img_path": "/images/blog/samodiagnostika_nissan/",
    "theme": "Инструкция"
} %}

{% block article_body %}
    <div class="article__body" id="js-article-page">
        <div class="user-content-styles">
            <div class="ucs-lead">
                Как самостоятельно считать коды ошибок на современных автомобилях Nissan и "обнулить" память<br>
                Самодиагностика автомобилей Nissan
                <b>Чтение кодов ошибок<br></b>
            </div>
            <div class="ucs-lead">
                Чтение кодов ошибок
            </div>
            <blockquote>
                Для процедуры потребуется секундомер.<br>
                Все описанные ниже временные интервалы надо выполнять очень точно!
            </blockquote>
            <div class="row">
                <div class="col_11-12">
                    <ol>
                        <li>Выключить зажигание (заглушить мотор) как минимум на 10 сек</li>
                        <li>Убедившись, что педаль газа отпущена, включить зажигание (ключ в положение ON, мотор не
                            заводить) и ждать 3 сек
                        </li>
                        <li>В течение 5 сек быстро нажать (до упора!) и отпустить педаль газа 5 раз</li>
                        <li>Через 7 сек нажать до упора и держать педаль газа до тех пор, пока жёлтая лампочка CНЕСK
                            ENGINE не станет мигать(~10сек)
                        </li>
                    </ol>
                </div>
            </div>
            <p>
                Эта процедура вводит автомобиль в диагностический режим, в котором лампа CHECK ENGINE будет
                намигивать четырехзначные OBD-II коды, где числа разделяются длинными паузами.
            </p>
            <p>
                <b>Например:<br></b>
                10 вспышек, пауза, 4 более быстрых вспышки, пауза, 3 еще более быстрые вспышки, 5 самых быстрых
                вспышек. Тем самым получаем OBD-II код P0435<br>
                Все ошибки повторяются циклически, до конца выхода из диагностического режима.
            </p>
            <div class="ucs-lead">
                Обнуление памяти.
            </div>
            <p>
                Чтобы обнулить память ЕСМ, процедура немного изменяется:
            </p>
            <div class="row">
                <div class="col_11-12">
                    <ol>
                        <li>Через 7 сек нажать до упора и держать педаль газа до тех пор, пока жёлтая лампочка CНЕСK
                            ENGINE не станет мигать(~10сек) - режим диагностики
                        </li>
                        <li>В этот момент, когда коды начали показываться</li>
                        <li>Нажать газ до упора и держать более 10 сек</li>
                        <li>Отпустить педаль. Должно высветиться 0000(4 раза по 10 вспышек)</li>
                    </ol>
                </div>
            </div>
            {% set ODB_CODES = [
                {"code":"P0100","note":"Неисправность цепи датчика расхода воздуха"},
                {"code":"P0101","note":"Выход сигнала датчика расхода воздуха из допустимого диапазона"},
                {"code":"P0102","note":"Низкий уровень выходного сигнала датчика расхода воздуха"},
                {"code":"P0103","note":"Высокий уровень выходного сигнала датчика расхода воздуха"},
                {"code":"P0105","note":"Неисправность датчика давления воздуха"},
                {"code":"P0106","note":"Выход сигнала датчика давления воздуха из допустимого диапазона"},
                {"code":"P0107","note":"Низкий уровень выходного сигнала датчика давления воздуха"},
                {"code":"P0108","note":"Высокий уровень выходного сигнала датчика давления воздуха"},
                {"code":"P0110","note":"Неисправность датчика температуры всасываемого воздуха"},
                {"code":"P0111","note":"Выход сигнала датчика температуры всасываемого воздуха из допустимого диапазона"},
                {"code":"P0112","note":"Низкий уровень датчика температуры всасываемого воздуха"},
                {"code":"P0113","note":"Высокий уровень датчика температуры всасываемого воздуха"},
                {"code":"P0115","note":"Неисправность датчика температуры охлаждающей жидкости"},
                {"code":"P0116","note":"Выходсигнала датчика температуры охлаждающей жидкости из допустимого диапазона"},
                {"code":"P0117","note":"Низкий уровень датчика температуры охлаждающей жидкости"},
                {"code":"P0118","note":"Высокий уровень датчика температуры охлаждающей жидкости"},
                {"code":"P0120","note":"Неисправность датчика положения дроссельной заслонки A"},
                {"code":"P0121","note":"Выход сигнала датчика положения дроссельной заслонки A из допустимого диапазона"},
                {"code":"P0122","note":"Низкий уровень выходного сигнала датчика положения дроссельной заслонки A"},
                {"code":"P0123","note":"Высокий уровень выходного сигнала датчика положения дроссельной заслонки A"},
                {"code":"P0125","note":"Низкая температура охлаждающей жидкости для управления по замкнутому контуру"},
                {"code":"P0130","note":"Датчик кислорода 1 (банк 1) неисправен"},
                {"code":"P0131","note":"Низкий уровень сигнала датчика кислорода 1 (банк 1)"},
                {"code":"P0132","note":"Высокий уровень сигнала датчика кислорода 1 (банк 1)"},
                {"code":"P0133","note":"Медленный отклик датчика кислорода 1 (банк 1) на обогащение/обеднение"},
                {"code":"P0134","note":"Нет активности выходного сигнала датчика кислорода 1 (банк 1)"},
                {"code":"P0135","note":"Нагреватель датчика кислорода 1 (банк 1) неисправен"},
                {"code":"P0136","note":"Датчик кислорода 2 (банк 1) неисправен"},
                {"code":"P0137","note":"Низкий уровень выходного сигнала датчика кислорода 2 (банк 1)"},
                {"code":"P0138","note":"Высокий уровень выходного сигнала датчика кислорода 2 (банк 1)"},
                {"code":"P0139","note":"Медленный отклик датчика кислорода 2 (банк 1) на обогащение/обеднение"},
                {"code":"P0140","note":"Нет активности выходного сигнала датчика кислорода 2 (банк 1)"},
                {"code":"P0141","note":"Нагреватель датчика кислорода 2 (банк 1) неисправен"},
                {"code":"P0142","note":"Датчик кислорода 3 (банк 1) неисправен"},
                {"code":"P0143","note":"Низкий уровень выходного сигнала датчика кислорода 3 (банк 1)"},
                {"code":"P0144","note":"Высокий уровень выходного сигнала датчика кислорода 3 (банк 1)"},
                {"code":"P0145","note":"Медленный отклик датчика кислорода 3 (банк 1) на обогащение/обеднение"},
                {"code":"P0146","note":"Нет активности выходного сигнала датчика кислорода 3 (банк 1)"},
                {"code":"P0147","note":"Нагреватель датчика кислорода 3 (банк 1) неисправен"},
                {"code":"P0150","note":"Датчик кислорода 1 (банк 2) неисправен"},
                {"code":"P0151","note":"Низкий уровень сигнала датчика кислорода 1 (банк 2)"},
                {"code":"P0152","note":"Высокий уровень сигнала датчика кислорода 1 (банк 2)"},
                {"code":"P0153","note":"Медленный отклик датчика кислорода 1 (банк 2) на обогащение/обеднение"},
                {"code":"P0154","note":"Нет активности выходного сигнала датчика кислорода 1 (банк 2)"},
                {"code":"P0155","note":"Нагреватель датчика кислорода 1 (банк 2) неисправен"},
                {"code":"P0156","note":"Датчик кислорода 2 (банк 2) неисправен"},
                {"code":"P0157","note":"Низкий уровень выходного сигнала датчика кислорода 2 (банк 2)"},
                {"code":"P0158","note":"Высокий уровень выходного сигнала датчика кислорода 2 (банк 2)"},
                {"code":"P0159","note":"Медленный отклик датчика кислорода 2 (банк 2) на обогащение/обеднение"},
                {"code":"P0160","note":"Нет активности выходного сигнала датчика кислорода 2 (банк 2)"},
                {"code":"P0161","note":"Нагреватель датчика кислорода 2 (банк 2) неисправен"},
                {"code":"P0162","note":"Датчик кислорода 3 (банк 2) неисправен"},
                {"code":"P0163","note":"Низкий уровень выходного сигнала датчика кислорода 3 (банк 2)"},
                {"code":"P0164","note":"Высокий уровень выходного сигнала датчика кислорода 3 (банк 2)"},
                {"code":"P0165","note":"Медленный отклик датчика кислорода 3 (банк 2) на обогащение/обеднение"},
                {"code":"P0166","note":"Нет активности выходного сигнала датчика кислорода 3 (банк 2)"},
                {"code":"P0167","note":"Нагреватель датчика кислорода 3 (банк 2) неисправен"},
                {"code":"P0171","note":"Слишком бедная смесь (возможен подсос воздуха)"},
                {"code":"P0172","note":"Слишком богатая смесь"},
                {"code":"P0173","note":"Утечка топлива из топливной системы блока цилиндров №2"},
                {"code":"P0174","note":"Смесь блока цилиндров №2 слишком бедная"},
                {"code":"P0175","note":"Смесь блока цилиндров №2 слишком богатая"},
                {"code":"P0176","note":"Датчик выброса СНх (Fuel Composition) неисправен"},
                {"code":"P0177","note":"Сигнал датчика СНх (Fuel Composition) вне допустимого диапазона"},
                {"code":"P0178","note":"Низкий уровень сигнала датчика СНх (Fuel Composition)"},
                {"code":"P0179","note":"Высокий уровень сигнала датчика СНх (Fuel Composition)"},
                {"code":"P0180","note":"Неисправность цепи датчика температуры топлива А"},
                {"code":"P0181","note":"Сигнал датчика температуры топлива А вне допустимого диапазона"},
                {"code":"P0182","note":"Низкий уровень сигнала датчика температуры топлива А"},
                {"code":"P0183","note":"Высокий уровень сигнала датчика температуры топлива А"},
                {"code":"P0185","note":"Неисправность цепи датчика температуры топлива В"},
                {"code":"P0186","note":"Сигнал датчика температуры топлива В вне допустимого диапазона"},
                {"code":"P0187","note":"Низкий уровень сигнала датчика температуры топлива В"},
                {"code":"P0188","note":"Высокий уровень сигнала датчика температуры топлива В"},
                {"code":"P0190","note":"Неисправность цепи датчика давления топлива в топливной рампе"},
                {"code":"P0191","note":"Сигнал датчика давления в топливной рампе вне допустимого диапазона"},
                {"code":"P0192","note":"Низкий сигнал датчика давления топлива в топливной рампе"},
                {"code":"P0193","note":"Высокий сигнал датчика давления топлива в топливной рампе"},
                {"code":"P0194","note":"Перемежающийся сигнал датчика давления топлива в топливной рампе"},
                {"code":"P0195","note":"Неисправность цепи датчика температуры масла в двигателе"},
                {"code":"P0196","note":"Сигнал датчика температуры масла в двигателе вне допустимого диапазона"},
                {"code":"P0197","note":"Низкий сигнал датчика температуры масла в двигателе"},
                {"code":"P0198","note":"Высокий сигнал датчика температуры масла в двигателе"},
                {"code":"P0199","note":"Перемежающийся сигнал датчика температуры масла в двигателе"},
                {"code":"P0200","note":"Неисправность цепи управления форсунками"},
                {"code":"P0201","note":"Неисправность цепи управления форсункой №1"},
                {"code":"P0202","note":"Неисправность цепи управления форсункой №2"},
                {"code":"P0203","note":"Неисправность цепи управления форсункой №3"},
                {"code":"P0204","note":"Неисправность цепи управления форсункой №4"},
                {"code":"P0205","note":"Неисправность цепи управления форсункой №5"},
                {"code":"P0206","note":"Неисправность цепи управления форсункой №6"},
                {"code":"P0207","note":"Неисправность цепи управления форсункой №7"},
                {"code":"P0208","note":"Неисправность цепи управления форсункой №8"},
                {"code":"P0209","note":"Неисправность цепи управления форсункой №9"},
                {"code":"P0210","note":"Неисправность цепи управления форсункой №10"},
                {"code":"P0211","note":"Неисправность цепи управления форсункой №11"},
                {"code":"P0212","note":"Неисправность цепи управления форсункой №12"},
                {"code":"P0213","note":"Неисправность цепи управления форсункой холодного старта №1"},
                {"code":"P0214","note":"Неисправность цепи управления форсункой холодного старта №2"},
                {"code":"P0215","note":"Неисправность соленоида выключения двигателя"},
                {"code":"P0216","note":"Неисправность цепи контроля времени впрыска"},
                {"code":"P0217","note":"Перегрев двигателя"},
                {"code":"P0218","note":"Перегрев трансмиссии"},
                {"code":"P0219","note":"Слишком высокие обороты двигателя (Engine Overspeed Condition)"},
                {"code":"P0220","note":"Неисправность датчика положения дроссельной заслонки B"},
                {"code":"P0221","note":"Сигнал датчика положения дроссельной заслонки B вне допустимого диапазона"},
                {"code":"P0222","note":"Низкий уровень сигнала датчика положения дроссельной заслонки B"},
                {"code":"P0223","note":"Высокий уровень сигнала датчика положения дроссельной заслонки B"},
                {"code":"P0224","note":"Перемежающийся уровень сигнала датчика положения дроссельной заслонки B"},
                {"code":"P0225","note":"Неисправность датчика положения дроссельной заслонки C"},
                {"code":"P0226","note":"Сигнал датчика положения дроссельной заслонки вне допустимого диапазона C"},
                {"code":"P0227","note":"Низкий уровень сигнала датчика положения дроссельной заслонки C"},
                {"code":"P0228","note":"Высокий уровень сигнала датчика положения дроссельной заслонки C"},
                {"code":"P0229","note":"Перемежающийся уровень сигнала датчика положения дроссельной заслонки C"},
                {"code":"P0230","note":"Неисправность первичной цепи управления бензонасосом (упр. реле бензонасоса)"},
                {"code":"P0231","note":"Постоянный низкий уровень вторичной цепи бензонасоса"},
                {"code":"P0232","note":"Постоянный высокий уровень вторичной цепи бензонасоса"},
                {"code":"P0233","note":"Перемежающийся уровень вторичной цепи бензонасоса"},
                {"code":"P0235","note":"Неисправность цепи датчика давления турбонаддува A"},
                {"code":"P0236","note":"Сигнал с датчика турбины A вне допустимого диапазона"},
                {"code":"P0237","note":"Низкий уровень сигнала с датчика турбины A"},
                {"code":"P0238","note":"Высокий уровень сигнала с датчика турбины A"},
                {"code":"P0239","note":"Неисправность цепи датчика давления турбонаддува B"},
                {"code":"P0240","note":"Сигнал с датчика турбины B вне допустимого диапазона"},
                {"code":"P0241","note":"Низкий уровень сигнала с датчика турбины B"},
                {"code":"P0242","note":"Высокий уровень сигнала с датчика турбины B"},
                {"code":"P0243","note":"Неисправность соленоида затвора выхлопных газов турбины A"},
                {"code":"P0244","note":"Сигнал соленоида затвора выхлопных газов турбины A вне доп. диапазона"},
                {"code":"P0245","note":"Соленоид затвора выхлопных газов турбины A всегда открыт"},
                {"code":"P0246","note":"Соленоид затвора выхлопных газов турбины A всегда закрыт"},
                {"code":"P0247","note":"Неисправность соленоида затвора выхлопных газов турбины B"},
                {"code":"P0248","note":"Сигнал соленоида затвора выхлопных газов турбины B вне доп. диапазона"},
                {"code":"P0249","note":"Соленоид затвора выхлопных газов турбины B всегда открыт"},
                {"code":"P0250","note":"Соленоид затвора выхлопных газов турбины B всегда закрыт"},
                {"code":"P0251","note":"Неисправность насоса впрыска турбиныA"},
                {"code":"P0252","note":"Сигнал насоса впрыска турбины A не допустимого диапазона"},
                {"code":"P0253","note":"Низкий уровень сигнала насоса впрыска турбины A"},
                {"code":"P0254","note":"Высокий уровень сигнала насоса впрыска турбины A"},
                {"code":"P0255","note":"Перемежающийся уровень сигнала насоса впрыска турбины A"},
                {"code":"P0256","note":"Неисправность насоса впрыска турбины B"},
                {"code":"P0257","note":"Сигнал насоса впрыска турбины B вне допустимого диапазона"},
                {"code":"P0258","note":"Низкий уровень сигнала насоса впрыска турбины B"},
                {"code":"P0259","note":"Высокий уровень сигнала насоса впрыска турбины B"},
                {"code":"P0260","note":"Перемежающийся уровень сигнала насоса впрыска турбины B"},
                {"code":"P0261","note":"Форсунка цилиндра №1 - замыкание на землю"},
                {"code":"P0262","note":"Форсунка цилиндра №1 - обрыв или замыкание на +12V"},
                {"code":"P0263","note":"Форсунка цилиндра №1 - неисправность драйвера форсунки"},
                {"code":"P0264","note":"Форсунка цилиндра №2 - замыкание на землю"},
                {"code":"P0265","note":"Форсунка цилиндра №2 - обрыв или замыкание на +12V"},
                {"code":"P0266","note":"Форсунка цилиндра №2 - неисправность драйвера форсунки"},
                {"code":"P0267","note":"Форсунка цилиндра №3 - замыкание на землю"},
                {"code":"P0268","note":"Форсунка цилиндра №3 - обрыв или замыкание на +12V"},
                {"code":"P0269","note":"Форсунка цилиндра №3 - неисправность драйвера форсунки"},
                {"code":"P0270","note":"Форсунка цилиндра №4 - замыкание на землю"},
                {"code":"P0271","note":"Форсунка цилиндра №4 - обрыв или замыкание на +12V"},
                {"code":"P0272","note":"Форсунка цилиндра №4 - неисправность драйвера форсунки"},
                {"code":"P0273","note":"Форсунка цилиндра №5 - замыкание на землю"},
                {"code":"P0274","note":"Форсунка цилиндра №5 - обрыв или замыкание на +12V"},
                {"code":"P0275","note":"Форсунка цилиндра №5 - неисправность драйвера форсунки"},
                {"code":"P0276","note":"Форсунка цилиндра №6 - замыкание на землю"},
                {"code":"P0277","note":"Форсунка цилиндра №6 - обрыв или замыкание на +12V"},
                {"code":"P0278","note":"Форсунка цилиндра №6 - неисправность драйвера форсунки"},
                {"code":"P0279","note":"Форсунка цилиндра №7 - замыкание на землю"},
                {"code":"P0280","note":"Форсунка цилиндра №7 - обрыв или замыкание на +12V"},
                {"code":"P0281","note":"Форсунка цилиндра №7 - неисправность драйвера форсунки"},
                {"code":"P0282","note":"Форсунка цилиндра №8 - замыкание на землю"},
                {"code":"P0283","note":"Форсунка цилиндра №8 - обрыв или замыкание на +12V"},
                {"code":"P0284","note":"Форсунка цилиндра №8 - неисправность драйвера форсунки"},
                {"code":"P0285","note":"Форсунка цилиндра №9 - замыкание на землю"},
                {"code":"P0286","note":"Форсунка цилиндра №9 - обрыв или замыкание на +12V"},
                {"code":"P0287","note":"Форсунка цилиндра №9 - неисправность драйвера форсунки"},
                {"code":"P0288","note":"Форсунка цилиндра №10 - замыкание на землю"},
                {"code":"P0289","note":"Форсунка цилиндра №10 - обрыв или замыкание на +12V"},
                {"code":"P0290","note":"Форсунка цилиндра №10 - неисправность драйвера форсунки"},
                {"code":"P0291","note":"Форсунка цилиндра №11 - замыкание на землю"},
                {"code":"P0292","note":"Форсунка цилиндра №11 - обрыв или замыкание на +12"},
                {"code":"P0293","note":"Форсунка цилиндра №11 - неисправность драйвера форсунки"},
                {"code":"P0294","note":"Форсунка цилиндра №12 - замыкание на землю"},
                {"code":"P0295","note":"Форсунка цилиндра №12 - обрыв или замыкание на +12V"},
                {"code":"P0296","note":"Форсунка цилиндра №12 - неисправность драйвера форсунки"},
                {"code":"P0300","note":"Обнаружены случайные/множественные пропуски зажигания"},
                {"code":"P0301","note":"Обнаружены пропуски зажигания в цилиндре №1"},
                {"code":"P0302","note":"Обнаружены пропуски зажигания в цилиндре №2"},
                {"code":"P0303","note":"Обнаружены пропуски зажигания в цилиндре №3"},
                {"code":"P0304","note":"Обнаружены пропуски зажигания в цилиндре №4"},
                {"code":"P0305","note":"Обнаружены пропуски зажигания в цилиндре №5"},
                {"code":"P0306","note":"Обнаружены пропуски зажигания в цилиндре №6"},
                {"code":"P0307","note":"Обнаружены пропуски зажигания в цилиндре №7"},
                {"code":"P0308","note":"Обнаружены пропуски зажигания в цилиндре №8"},
                {"code":"P0309","note":"Обнаружены пропуски зажигания в цилиндре №9"},
                {"code":"P0310","note":"Обнаружены пропуски зажигания в цилиндре №10"},
                {"code":"Р0311","note":"Обнаружены пропуски зажигания в цилиндре №11"},
                {"code":"P0312","note":"Обнаружены пропуски зажигания в цилиндре №12"},
                {"code":"P0320","note":"Неисправноcть цепи распределителя зажигания"},
                {"code":"P0321","note":"Сигнал распределителя зажигания вне допустимого диапазона"},
                {"code":"P0322","note":"Сигнал распределителя зажигания отсутствует"},
                {"code":"P0323","note":"Сигнал распределителя зажигания перемежающийся"},
                {"code":"P0325","note":"Неисправность цепи датчика детонации №1"},
                {"code":"P0326","note":"Сигнал датчика детонации №1 вне допустимого диапазона"},
                {"code":"P0327","note":"Низкий уровень сигнала датчика детонации №1"},
                {"code":"P0328","note":"Высокий уровень сигнала датчика детонации №1"},
                {"code":"P0329","note":"Перемежающийся уровень сигнала датчика детонации №1"},
                {"code":"P0330","note":"Неисправность цепи датчика детонации №2"},
                {"code":"P0331","note":"Сигнал датчика детонации №2 вне допустимого диапазона"},
                {"code":"P0332","note":"Низкий уровень сигнала датчика детонации №2"},
                {"code":"P0333","note":"Высокий уровень сигнала датчика детонации №2"},
                {"code":"P0334","note":"Перемежающийся уровень сигнала датчика детонации №2"},
                {"code":"P0335","note":"Ошибка датчика положения коленвалаA"},
                {"code":"P0336","note":"Ошибка ДПКВ A (пропуск одного зуба)"},
                {"code":"P0337","note":"Низкий уровень или замыкание на массу ДПКВ A"},
                {"code":"P0338","note":"Высокий уровень или замыкание на +12V ДПКВ A"},
                {"code":"P0339","note":"Перемежающийся сигнал ДПКВ A"},
                {"code":"P0340","note":"Неисправность датчика распределительного вала"},
                {"code":"P0341","note":"Сигнал датчика распределительного вала вне допустимого диапазона"},
                {"code":"P0342","note":"Низкий уровень сигнала датчика распределительного вала"},
                {"code":"P0343","note":"Высокий уровень сигнала датчика распределительного вала"},
                {"code":"P0344","note":"Перемежающийся уровень сигнала датчика распределительного вала"},
                {"code":"P0350","note":"Неисправность первичной / вторичной цепи катушки зажигания"},
                {"code":"P0351","note":"Неисправность первичной / вторичной цепи катушки зажигания A"},
                {"code":"P0352","note":"Неисправность первичной / вторичной цепи катушки зажигания B"},
                {"code":"P0353","note":"Неисправность первичной / вторичной цепи катушки зажигания C"},
                {"code":"P0354","note":"Неисправность первичной / вторичной цепи катушки зажигания D"},
                {"code":"P0355","note":"Неисправность первичной / вторичной цепи катушки зажигания E"},
                {"code":"P0356","note":"Неисправность первичной / вторичной цепи катушки зажигания F"},
                {"code":"P0357","note":"Неисправность первичной / вторичной цепи катушки зажигания G"},
                {"code":"P0358","note":"Неисправность первичной / вторичной цепи катушки зажигания H"},
                {"code":"P0359","note":"Неисправность первичной / вторичной цепи катушки зажигания I"},
                {"code":"P0360","note":"Неисправность первичной / вторичной цепи катушки зажигания J"},
                {"code":"P0361","note":"Неисправность первичной / вторичной цепи катушки зажигания K"},
                {"code":"P0362","note":"Неисправность первичной / вторичной цепи катушки зажигания L"},
                {"code":"P0370","note":"Неисправность сигнала А таймера"},
                {"code":"P0371","note":"Число импульсов сигнала А таймера выше нормы"},
                {"code":"P0372","note":"Число импульсов сигнала А таймера ниже нормы"},
                {"code":"P0373","note":"Нестабильные импульсы сигнала А таймера"},
                {"code":"P0374","note":"Нет импульсов сигнала А таймера"},
                {"code":"P0375","note":"Неисправность сигнала B таймера"},
                {"code":"P0376","note":"Число импульсов сигнала B таймера выше нормы"},
                {"code":"P0377","note":"Число импульсов сигнала B таймера ниже нормы"},
                {"code":"P0378","note":"Нестабильные импульсы сигнала B таймера"},
                {"code":"P0379","note":"Нет импульсов сигнала А таймера"},
                {"code":"P0380","note":"Неисправность свечи накаливания или цепи нагрева"},
                {"code":"P0381","note":"Неисправность свечи накаливания или индикатора нагрева"},
                {"code":"P0385","note":"Неисправность цепи датчика положения коленвала B"},
                {"code":"P0386","note":"Сигнал датчика положения коленвала B вне допустимого диапазона"},
                {"code":"P0387","note":"Низкий уровень или замыкание на массу ДПКВ В"},
                {"code":"P0388","note":"Высокий уровень или замыкаение на +12V ДПКВ В"},
                {"code":"P0389","note":"Перемежающийся сигнал датчика положения коленвала B"},
                {"code":"P0400","note":"Неисправность системы рециркуляции отработанных газов"},
                {"code":"P0401","note":"Неэффективность системы рециркуляции отработанных газов"},
                {"code":"P0402","note":"Избыточность системы рециркуляции отработанных газов (ОГ)"},
                {"code":"P0403","note":"Неисправность цепи датчика системы рециркуляции отработанных газов"},
                {"code":"P0404","note":"Сигнал датчика системы рециркуляции ОГ вне допустимого диапазона"},
                {"code":"P0405","note":"Низкий уровень сигнала датчика A системы рециркуляции ОГ"},
                {"code":"P0406","note":"Высокий уровень сигнала датчика A системы рециркуляции ОГ"},
                {"code":"P0407","note":"Низкий уровень сигнала датчика В системы рециркуляции ОГ"},
                {"code":"P0408","note":"Высокий уровень сигнала датчика В системы рециркуляции ОГ"},
                {"code":"P0410","note":"Неисправность системы вторичной подачи воздуха"},
                {"code":"P0411","note":"Некорректный поток через систему вторичной подачи воздуха"},
                {"code":"P0412","note":"Неисправность клапана системы вторичной подачи воздухаA"},
                {"code":"P0413","note":"Клапан системы вторичной подачи воздуха A всегда открыт"},
                {"code":"P0414","note":"Клапан системы вторичной подачи воздуха A всегда закрыт"},
                {"code":"P0415","note":"Неисправность клапана системы вторичной подачи воздуха В"},
                {"code":"P0416","note":"Клапан системы вторичной подачи воздуха В всегда открыт"},
                {"code":"P0417","note":"Клапан системы вторичной подачи воздуха В всегда закрыт"},
                {"code":"P0420","note":"Эффективность системы катализаторов В1 ниже допустимого порога"},
                {"code":"P0421","note":"Эффективность прогрева катализаторов В1 ниже допустимого порога"},
                {"code":"P0422","note":"Эффективность главного катализатора В1 ниже допустимого порога"},
                {"code":"P0423","note":"Эффективность нагревателя катализатора В1 ниже допустимого порога"},
                {"code":"P0424","note":"Температура нагревателя катализатора В1 ниже допустимого порога"},
                {"code":"P0430","note":"Эффективность системы катализаторов В2 ниже допустимого порога"},
                {"code":"P0431","note":"Эффективность прогрева катализаторов В3 ниже допустимого порога"},
                {"code":"P0432","note":"Эффективность главного катализатора В2 ниже допустимого порога"},
                {"code":"P0433","note":"Эффективность нагревателя катализатора В2 ниже допустимого порога"},
                {"code":"P0434","note":"Температура нагревателя катализатора В2 ниже допустимого порога"},
                {"code":"P0440","note":"Неисправность контроля системы улавливания паров бензина"},
                {"code":"P0441","note":"Плохая продувка системы улавливания паров бензина"},
                {"code":"P0442","note":"Небольшая утечка в системе улавливания паров бензина"},
                {"code":"P0443","note":"Неисправность цепи клапана продувки системы улавливания паров бензина"},
                {"code":"P0444","note":"Клапан продувки системы улавливания паров бензина всегда открыт"},
                {"code":"P0445","note":"Клапан продувки системы улавливания паров бензина всегда закрыт"},
                {"code":"P0446","note":"Неисправность упр. воздушным клапаном системы улавливания паров"},
                {"code":"P0447","note":"Воздушный клапан системы улавливания паров всегда открыт"},
                {"code":"P0448","note":"Воздушный клапан системы улавливания паров всегда закрыт"},
                {"code":"P0450","note":"Неисправность датчика давления паров бензина"},
                {"code":"P0451","note":"Сигнал датчика давления паров бензина вне допустимого диапазона"},
                {"code":"P0452","note":"Низкий уровень сигнал датчика давления паров бензина"},
                {"code":"P0453","note":"Высокий уровень сигнал датчика давления паров бензина"},
                {"code":"P0454","note":"Перемежающийся уровень сигнал датчика давления паров бензина"},
                {"code":"P0455","note":"Большая утечка в системе улавливания паров бензина"},
                {"code":"P0460","note":"Неисправность цепи датчика уровня топлива"},
                {"code":"P0461","note":"Сигнал датчика уровня топлива вне допустимого диапазона"},
                {"code":"P0462","note":"Низкий уровень сигнала датчика уровня топлива"},
                {"code":"P0463","note":"Высокий уровень сигнала датчика уровня топлива"},
                {"code":"P0464","note":"Перемежающийся уровень сигнала датчика уровня топлива"},
                {"code":"P0465","note":"Неисправность цепи датчика потока воздуха продувки"},
                {"code":"P0466","note":"Сигнал датчика потока воздуха продувки вне допустимого диапазона"},
                {"code":"P0467","note":"Низкий уровень сигнала датчика потока воздуха продувки"},
                {"code":"P0468","note":"Высокий уровень сигнала датчика потока воздуха продувки"},
                {"code":"P0469","note":"Перемежающийся уровень сигнала датчика потока воздуха продувки"},
                {"code":"P0470","note":"Неисправность датчика давления выхлопных газов"},
                {"code":"P0471","note":"Сигнал датчика давления выхлопных газов вне допустимого диапазона"},
                {"code":"P0472","note":"Низкий уровень сигнала датчика давления выхлопных газов"},
                {"code":"P0473","note":"Высокий уровень сигнала датчика давления выхлопных газов"},
                {"code":"P0474","note":"Перемежающийся уровень сигнала датчика давления выхлопных газов"},
                {"code":"P0475","note":"Неисправность клапана датчика давления выхлопных газов"},
                {"code":"P0476","note":"Сигнал клапана датчика давления выхлопных газов вне допустимого диапазона"},
                {"code":"P0477","note":"Низкий уровень сигнала клапана датчика давления выхлопных газов"},
                {"code":"P0478","note":"Высокий уровень сигнала клапана датчика давления выхлопных газов"},
                {"code":"P0479","note":"Перемежающийся уровень сигнала клапана датчика давления выхлопных газов"},
                {"code":"P0480","note":"Неисправность цепи управления реле вентилятора"},
                {"code":"P0500","note":"Нет сигнала датчика скорости автомобиля"},
                {"code":"P0501","note":"Сигнал датчика скорости автомобиля вне допустимого диапазона"},
                {"code":"P0502","note":"Низкий уровень сигнала датчика скорости автомобиля"},
                {"code":"P0503","note":"Высокий уровень сигнала датчика скорости автомобиля"},
                {"code":"P0505","note":"Неисправность регулятора холостого хода"},
                {"code":"P0506","note":"Неисправность регулятора холостого хода - низкие обороты"},
                {"code":"P0507","note":"Неисправность регулятора холостого хода - высокие обороты"},
                {"code":"P0510","note":"Неисправность концевика дроссельной заслонки"},
                {"code":"P0520","note":"Неисправность в цепи датчика давления масла"},
                {"code":"P0521","note":"Неправильный показатель/не отрегулирован датчик давления масла"},
                {"code":"P0522","note":"Низкое напряжение датчика давления масла"},
                {"code":"P0523","note":"Высокое напряжение датчика давления масла"},
                {"code":"P0530","note":"Неисправность в цепи датчика давления охлаждающей жидкости кондиционера"},
                {"code":"P0531","note":"Неправильный показатель/не отрегулирован датчик давления охлаждающей жидкости кондиционера"},
                {"code":"P0532","note":"Низкий показатель датчика давления охлаждающей жидкости кондиционера"},
                {"code":"P0533","note":"Высокий показатель датчика давления охлаждающей жидкости кондиционера"},
                {"code":"P0534","note":"Утечка охлаждающей жидкости кондиционера"},
                {"code":"P0550","note":"Неисправность в цепи датчика давления в гидроусилителе руля"},
                {"code":"P0551","note":"Неправильный показатель/не отрегулирован датчик давления в гидроусилителе руля"},
                {"code":"P0552","note":"Низкий показатель датчика давления в гидроусилителе руля"},
                {"code":"P0553","note":"Высокий показатель датчика давления в гидроусилителе руля"},
                {"code":"P0554","note":"Неисправность датчика давления в гидроусилителе руля"},
                {"code":"P0560","note":"Напряжение питания системы ниже порога работоспособности"},
                {"code":"P0561","note":"Напряжение питания системы нестабильное"},
                {"code":"P0562","note":"Низкое напряжение питания системы"},
                {"code":"P0563","note":"Высокое напряжение питания системы"},
                {"code":"P0565","note":"Неисправность сигнала включения системы круиз-контроля"},
                {"code":"P0566","note":"Неисправность сигнала выключения системы круиз-контроля"},
                {"code":"P0567","note":"Неисправность сигнала продолжения движения системы круиз-контроля"},
                {"code":"P0568","note":"Неисправность сигнала установки скорости системы круиз-контроля"},
                {"code":"P0569","note":"Неисправность сигнала торможения системы круиз-контроля"},
                {"code":"P0570","note":"Неисправность сигнала ускорения системы круиз-контроля"},
                {"code":"P0571","note":"CНеисправность в цепи переключателя торможения A системы круиз-контроля"},
                {"code":"P0572","note":"Низкий показатель переключателя торможения A системы круиз-контроля"},
                {"code":"P0573","note":"Высокий показатель переключателя торможения A системы круиз-контроля"},
                {"code":"P0574","note":"Неисправность системы круиз-контроля"},
                {"code":"P0575","note":"Неисправность системы круиз-контроля"},
                {"code":"P0576","note":"Неисправность системы круиз-контроля"},
                {"code":"P0577","note":"Неисправность системы круиз-контроля"},
                {"code":"P0578","note":"Неисправность системы круиз-контроля"},
                {"code":"P0579","note":"Неисправность системы круиз-контроля"},
                {"code":"P0580","note":"Неисправность системы круиз-контроля"},
                {"code":"P0600","note":"Неисправность при связи с системой"},
                {"code":"P0601","note":"Ошибка контрольной суммы ПЗУ"},
                {"code":"P0602","note":"Программная ошибка блока управления"},
                {"code":"P0603","note":"Ошибка внешнего ОЗУ"},
                {"code":"P0604","note":"Ошибка внутреннего ОЗУ"},
                {"code":"P0605","note":"Ошибка в памяти (ROM) блока управления"},
                {"code":"P0606","note":"Неисправность процессора PCM"},
                {"code":"P0607","note":"Неисправность канала детонации"},
                {"code":"P0608","note":"Неисправность датчика VSS A блока управления"},
                {"code":"P0609","note":"Неисправность датчика VSS В блока управления"},
                {"code":"P0620","note":"Неисправность в цепи управления генератора"},
                {"code":"P0621","note":"Неисправность в цепи лампы L генератора"},
                {"code":"P0622","note":"Неисправность в блоке F генератора"},
                {"code":"P0650","note":"Неисправность в цепи индикаторной лампы неисправностей (MIL)"},
                {"code":"P0654","note":"Неправильно отрегулированы обороты двигателя"},
                {"code":"P0655","note":"Неисправность в цепи лампы прогрева двигателя"},
                {"code":"P0656","note":"Неисправность в цепи датчика уровня топлива"},
                {"code":"P0700","note":"Неисправность системы контроля трансмиссии"},
                {"code":"P0701","note":"Система контроля трансмиссии вне допустимого диапазона"},
                {"code":"P0702","note":"Электрическая система контроля трансмиссии"},
                {"code":"P0703","note":"Неисправность в цепи датчика B уменьшения крутящего момента при торможении"},
                {"code":"P0704","note":"Неисправность в цепи датчика сцепления"},
                {"code":"P0705","note":"Неисправность в цепи датчика трансмиссии (PRNDL)"},
                {"code":"P0706","note":"Неправильный показатель / не отрегулирован датчик трансмиссии"},
                {"code":"P0707","note":"Низкий показатель датчика трансмиссии"},
                {"code":"P0708","note":"Высокий показатель датчика трансмиссии"},
                {"code":"P0709","note":"Неисправность датчика трансмиссии"},
                {"code":"P0710","note":"Неисправность в цепи датчика температуры трансмиссионной жидкости"},
                {"code":"P0711","note":"Неправильный показатель / не отрегулирован датчик температуры трансмиссионной жидкости"},
                {"code":"P0712","note":"Низкий показатель датчика температуры трансмиссионной жидкости"},
                {"code":"P0713","note":"Высокий показатель датчика температуры трансмиссионной жидкости"},
                {"code":"P0714","note":"Неисправность датчика температуры трансмиссионной жидкости"},
                {"code":"P0715","note":"Неисправность в цепи датчика оборотов турбины"},
                {"code":"P0716","note":"Неправильный показатель / не отрегулирован датчик оборотов турбины"},
                {"code":"P0717","note":"Нет сигнала от датчика оборотов турбины"},
                {"code":"P0718","note":"Неисправность датчика оборотов турбины"},
                {"code":"P0719","note":"Низкий показатель цепи датчика B уменьшения крутящего момента при торможении"},
                {"code":"P0720","note":"Неисправность в цепи датчика частоты вращения вала"},
                {"code":"P0721","note":"Неправильный показатель / не отрегулирован датчик частоты вращения вала"},
                {"code":"P0722","note":"Нет сигнала от датчика частоты вращения вала"},
                {"code":"P0723","note":"Неисправность датчика частоты вращения вала"},
                {"code":"P0724","note":"Высокий показатель цепи датчика B уменьшения крутящего момента при торможении"},
                {"code":"P0725","note":"Неисправность в цепи датчика оборотов двигателя"},
                {"code":"P0726","note":"Неправильный показатель / не отрегулирован датчик оборотов двигателя"},
                {"code":"P0727","note":"Нет сигнала от датчика оборотов двигателя"},
                {"code":"P0728","note":"Неисправность датчика оборотов двигателя"},
                {"code":"P0730","note":"Неправильно отрегулирована коробка передач"},
                {"code":"P0731","note":"Неправильно отрегулирована 1 передача"},
                {"code":"P0732","note":"Неправильно отрегулирована 2 передача"},
                {"code":"P0733","note":"Неправильно отрегулирована 3 передача"},
                {"code":"P0734","note":"Неправильно отрегулирована 4 передача"},
                {"code":"P0735","note":"Неправильно отрегулирована 5 передача"},
                {"code":"Р0736","note":"Неправильно отрегулирована задняя передача"},
                {"code":"P0740","note":"Неисправность в цепи муфты сцепления"},
                {"code":"P0741","note":"Неправильно отрегулирована муфта сцепления"},
                {"code":"P0742","note":"Повреждена муфта сцепления"},
                {"code":"P0743","note":"Повреждение электрической цепи муфты сцепления"},
                {"code":"P0744","note":"Неисправность в цепи муфты сцепления"},
                {"code":"P0745","note":"Неисправность в цепи соленоида давления"},
                {"code":"P0746","note":"Неправильно отрегулирован соленоид давления"},
                {"code":"P0747","note":"Поврежден соленоид давления"},
                {"code":"P0748","note":"Повреждение электрической цепи соленоида давления"},
                {"code":"P0749","note":"Неисправность соленоида давления"},
                {"code":"P0750","note":"Неисправность переключателя А соленоида"},
                {"code":"P0751","note":"Неправильно отрегулирован переключатель А соленоида"},
                {"code":"P0752","note":"Повреждение переключателя А соленоида"},
                {"code":"P0753","note":"Повреждение электрической цепи переключателя А соленоида"},
                {"code":"P0754","note":"Неисправность переключателя А соленоида"},
                {"code":"P0755","note":"Неисправность переключателя B соленоида"},
                {"code":"P0756","note":"Неправильно отрегулирован переключатель B соленоида"},
                {"code":"P0757","note":"Повреждение переключателя B соленоида"},
                {"code":"P0758","note":"Повреждение электрической цепи переключателя B соленоида"},
                {"code":"P0759","note":"Неисправность переключателя B соленоида"},
                {"code":"P0760","note":"Неисправность переключателя C соленоида"},
                {"code":"P0761","note":"Неправильно отрегулирован переключатель C соленоида"},
                {"code":"P0762","note":"Повреждение переключателя C соленоида"},
                {"code":"P0763","note":"Повреждение электрической цепи переключателя C соленоида"},
                {"code":"P0764","note":"Неисправность переключателя C соленоида"},
                {"code":"P0765","note":"Неисправность переключателя D соленоида"},
                {"code":"P0766","note":"Неправильно отрегулирован переключатель D соленоида"},
                {"code":"P0767","note":"Повреждение переключателя D соленоида"},
                {"code":"P0768","note":"Повреждение электрической цепи переключателя D соленоида"},
                {"code":"P0769","note":"Неисправность переключателя D соленоида"},
                {"code":"P0770","note":"Неисправность переключателя E соленоида"},
                {"code":"P0771","note":"Неправильно отрегулирован переключатель E соленоида"},
                {"code":"P0772","note":"Повреждение переключателя E соленоида"},
                {"code":"P0773","note":"Повреждение электрической цепи переключателя E соленоида"},
                {"code":"P0774","note":"Неисправность переключателя E соленоида"},
                {"code":"P0780","note":"Неисправность переключателя"},
                {"code":"P0781","note":"Неисправность 1-2 переключателей"},
                {"code":"P0782","note":"Неисправность 2-3 переключателей"},
                {"code":"P0783","note":"Неисправность 3-4 переключателей"},
                {"code":"P0784","note":"Неисправность 4-5 переключателей"},
                {"code":"P0785","note":"Неисправность соленоида"},
                {"code":"P0786","note":"Неправильный показатель / не отрегулирован соленоид"},
                {"code":"P0787","note":"Низкий показатель датчика соленоида"},
                {"code":"P0788","note":"Высокий показатель датчика соленоида"},
                {"code":"P0789","note":"Неисправность соленоида"},
                {"code":"P0790","note":"Неисправность в цепи переключателя в режим normal"},
                {"code":"P0801","note":"Неисправность в цепи контроля системы Reverse Inhibit"},
                {"code":"P0803","note":"Неисправность в цепи соленоида переключателя 1-4"},
                {"code":"P0804","note":"Неисправность в цепи контрольной лампы переключателя 1-4"},
                {"code":"P1000","note":"OBD II Monitor не проходит тест"},
                {"code":"P1001","note":"Key On Engine Running (KOER) Self-Test not able to complete. KOER aborted"},
                {"code":"P1100","note":"Mass Air Flow (MAF) sensor intermittent"},
                {"code":"P1101","note":"Mass Air Flow (MAF) sensor out of Self-Test range"},
                {"code":"P1102","note":"Низкое сопротивление подогревателя датчика кислорода"},
                {"code":"Р1106","note":"Высокое напряжение в цепи датчика абсолютного давления впускного коллектора (MAP)"},
                {"code":"Р1107","note":"Низкое напряжение в цепи датчика абсолютного давления впускного коллектора (MAP)"},
                {"code":"P1110","note":"Switch over valve solenoid"},
                {"code":"P1111","note":"Высокое напряжение в цепи датчика температуры воздуха на впуске (IAT)"},
                {"code":"P1112","note":"Switch over valve 1"},
                {"code":"P1113","note":"Switch over valve 2"},
                {"code":"P1114","note":"Низкое напряжение в цепи датчика температуры охлаждающей жидкости (ECT)"},
                {"code":"P1115","note":"Высокое напряжение в цепи датчика температуры охлаждающей жидкости (ECT)"},
                {"code":"P1116","note":"О2 Sensor heater Circuit (Open)"},
                {"code":"Р1117","note":"Датчик температуры двигателя (ECT) sensor intermittent"},
                {"code":"P1120","note":"Датчик положения дросселя (TP) out of range low"},
                {"code":"P1121","note":"Высокое напряжение в цепи датчика положения дроссельной заслонки (TP)"},
                {"code":"P1122","note":"Низкое напряжение в цепи датчика положения дроссельной заслонки (TP)"},
                {"code":"P1123","note":"Long Term Fuel Trim Additive Air (System too Rich)"},
                {"code":"P1124","note":"Датчик положения дросселя (TP) sensor out of Self - Test range"},
                {"code":"P1125","note":"Датчик положения дросселя (TP) sensor circuit intermittent"},
                {"code":"P1127","note":"Exhaust not warm enough, downstream Heated Oxygen Sensors (HO2Ss) not tested"},
                {"code":"P1128","note":"Upstream Heated Oxygen Sensors (HO2Ss) swapped from bank to bank"},
                {"code":"P1129","note":"Downstream Heated Oxygen Sensors (HO2Ss) swapped from bank to bank"},
                {"code":"P1130","note":"Lack of upstream Heated Oxygen Sensor (HO2S 11) switch, adaptive fuel at limit (Bank # 1)"},
                {"code":"P1131","note":"Lack of upstream Heated Oxygen Sensor (HO2S 11) switch, sensor indicates lean (Bank # 1))"},
                {"code":"P1132","note":"Lack of upstream Heated Oxygen Sensor (HO2S 11) switch, sensor indicates rich (Bank # 1)"},
                {"code":"P1133","note":"Датчик 1 HO2S"},
                {"code":"P1134","note":"Таймер включения датчика HO2S"},
                {"code":"P1136","note":"Long Term Fuel Trim Additive Fuel (System too Rich)"},
                {"code":"P1137","note":"Lack of downstream Heated Oxygen Sensor (HO2S 12) switch, sensor indicates lean (Bank # 1)"},
                {"code":"P1138","note":"Lack of downstream Heated Oxygen Sensor (HO2S 12) switch, sensor indicates rich (Bank # 1)"},
                {"code":"P1140","note":"Неверный сигнал нагрузки"},
                {"code":"P1150","note":"Lack of upstream Heated Oxygen Sensor (HO2S 21) switch, adaptive fuel at limit (Bank #2)"},
                {"code":"P1151","note":"Lack of upstream Heated Oxygen Sensor (HO2S 21) switch, sensor indicates lean (Bank # 2)"},
                {"code":"P1152","note":"Lack of upstream Heated Oxygen Sensor (HO2S 21) switch, sensor indicates rich (Bank # 2)"},
                {"code":"P1157","note":"Lack of downstream Heated Oxygen Sensor (HO2S 22) switch, sensor indicates lean (Bank # 2)"},
                {"code":"P1158","note":"Lack of downstream Heated Oxygen Sensor (HO2S 22) switch, sensor indicates rich (Bank # 2)"},
                {"code":"P1171","note":"Низкий уровень сигнала СО-потенциометра"},
                {"code":"P1172","note":"Высокий уровень сигнала СО-потенциометра"},
                {"code":"P1174","note":"02 Sensor 1 Bank 1 (period monitoring)"},
                {"code":"P1176","note":"02 Sensor 1 Bank 1 (tv monitoring)"},
                {"code":"P1200","note":"Цепь управления форсункой"},
                {"code":"P1220","note":"Series Throttle Control system malfunction"},
                {"code":"P1224","note":"Датчик положения дросселя B (TP-B) out of Self - Test range"},
                {"code":"P1229","note":"Power Supply Relay Primary Circuit Voltage High"},
                {"code":"P1230","note":"Power Supply Relay Secondary Circuit Voltage Low"},
                {"code":"P1231","note":"Fuel pump relay circuit low with high speed pump on"},
                {"code":"P1232","note":"Low speed Fuel Pump primary circuit malfunction"},
                {"code":"P1233","note":"Fuel Pump Driver Module disabled or offline"},
                {"code":"P1234","note":"Fuel Pump Driver Module disabled or offline"},
                {"code":"P1235","note":"Fuel Pump control out of Self - Test range"},
                {"code":"P1236","note":"Fuel Pump control out of Self - Test range"},
                {"code":"P1237","note":"Fuel Pump secondary circuit malfunction"},
                {"code":"P1238","note":"Fuel Pump secondary circuit malfunction"},
                {"code":"P1260","note":"Попытка угона - запуск заблокирован"},
                {"code":"P1270","note":"Engine RPM or vehicle speed limiter reached"},
                {"code":"P1285","note":"Неисправность датчика температуры ГБЦ"},
                {"code":"P1288","note":"Датчик температуры ГБЦ (CHT) sensor out of Self - Test range"},
                {"code":"P1289","note":"Датчик температуры ГБЦ (CHT) sensor circuit low input"},
                {"code":"P1290","note":"Датчик температуры ГБЦ (CHT) sensor circuit high input"},
                {"code":"P1299","note":"Engine o не допустимого диапазона"},
                {"code":"P0253","note":"Низкий уровень сигнала насоса впрыска турбины я"},
                {"code":"P0572","note":"Низкий показатель переключателя торможения A системы круиз-контроля"},
                {"code":"P0573","note":"Высокий показатель переключателя торможения A системы круиз-контроля"},
                {"code":"P0574","note":"Неисправность системы круиз-контроля"},
                {"code":"P0575","note":"Неисправность системы круиз-контроля"},
                {"code":"P0576","note":"Неисправность системы круиз-контроля"},
                {"code":"P0577","note":"Неисправность системы круиз-контроля"},
                {"code":"P0578","note":"Неисправность системы круиз-контроля"},
                {"code":"P0579","note":"Неисправность системы круиз-контроля"},
                {"code":"P0580","note":"Неисправность системы круиз-контроля"},
                {"code":"P0600","note":"Неисправность при связи с системой"},
                {"code":"P0601","note":"Ошибка контрольной суммы ПЗУ"},
                {"code":"P0602","note":"Программная ошибка блока управления"},
                {"code":"P0603","note":"Ошибка внешнего ОЗУ"},
                {"code":"P0604","note":"Ошибка внутреннего ОЗУ"},
                {"code":"P0605","note":"Ошибка в памяти (ROM) блока управления"},
                {"code":"P0606","note":"Неисправность процессора PCM"},
                {"code":"P0607","note":"Неисправность канала детонации"},
                {"code":"P0608","note":"Неисправность датчика VSS ver temperature condition"},
                {"code":"P1320","note":"Ignition Signal- отсутствует сигнал зажигания (катушки)"},
                {"code":"P1326","note":"Knock Control Maximum Spark Limit Cylinder 1"},
                {"code":"P1327","note":"Knock Control Maximum Spark Limit Cylinder 2"},
                {"code":"P1328","note":"Knock Control Maximum Spark Limit Cylinder 3"},
                {"code":"Р1329","note":"Knock Control Maximum Spark Limit Cylinder 4"},
                {"code":"P1350","note":"Запасная линия мониторинга"},
                {"code":"P1351","note":"Ignition Diagnostic Monitor (IDM) circuit input malfunction"},
                {"code":"P1356","note":"PIPS occurred while IDM pulse width indicates engine not turning"},
                {"code":"P1357","note":"Ignition Diagnostic Monitor (IDM) pulse width not defined"},
                {"code":"P1358","note":"Ignition Diagnostic Monitor (IDM) signal out of Self - Test range"},
                {"code":"P1359","note":"Spark output circuit malfunction"},
                {"code":"P1361","note":"Низкое напряжение в цепи контроля зажигания (IC)"},
                {"code":"P1374","note":"Изменение частоты датчика положения коленвала (CKP)"},
                {"code":"P1380","note":"Неисправность в системе - невозможно считать данные"},
                {"code":"P1386","note":"Knock control Testpulse"},
                {"code":"P1390","note":"Octane Adjust (OCT ADJ) out of Self - Test range"},
                {"code":"P1400","note":"Differential Pressure Feedback EGR (DPFE) sensor circuit low voltage detected"},
                {"code":"P1401","note":"Differential Pressure Feedback EGR (DPFE) sensor circuit high voltage detected"},
                {"code":"P1405","note":"Differential Pressure Feedback EGR (DPFE) sensor upstream hose off or plugged"},
                {"code":"P1406","note":"Differential Pressure Feedback EGR (DPFE) sensor downstream hose off or plugged"},
                {"code":"P1408","note":"Exhaust Gas Recirculation (EGR) flow out of Self - Test range"},
                {"code":"P1409","note":"Canister purge valve power stage (malfunction)"},
                {"code":"P1410","note":"Canister purge valve power stage (high)"},
                {"code":"P1411","note":"Secondary Air Injection system incorrect downstream flow detected"},
                {"code":"P1413","note":"Secondary Air Injection system monitor circuit low voltage"},
                {"code":"P1414","note":"Secondary Air Injection system monitor circuit high voltage"},
                {"code":"P1425","note":"Canister purge valve power stage (low)"},
                {"code":"P1426","note":"Цепь управления клапаном продувки адсорбера, обрыв"},
                {"code":"P1441","note":"Расход в системе отвода паров топлива (EVAP) только для автомобиля Chevrolet"},
                {"code":"P1442","note":"Evaporative emission control system small leak detected"},
                {"code":"P1443","note":"Evaporative emission control system - vacuum system, purge control solenoid or vapor management valve malfunction"},
                {"code":"P1444","note":"Purge Flow (PF) Sensor circuit low input"},
                {"code":"P1445","note":"Purge Flow (PF) Sensor circuit high input"},
                {"code":"P1449","note":"Evaporative emission control system unable to hold vacuum (Probe)"},
                {"code":"P1450","note":"Unable to bleed up fuel tank vacuum"},
                {"code":"P1452","note":"Unable to bleed up fuel tank vacuum"},
                {"code":"P1455","note":"Evaporative emission control system control leak detected (gross leak)"},
                {"code":"P1460","note":"Wide Open Throttle Air Conditioning Cutoff (WAC) circuit malfunction"},
                {"code":"P1461","note":"Air Conditioning Pressure (ACP) sensor circuit low input"},
                {"code":"P1462","note":"Air Conditioning Pressure (ACP) sensor circuit high input"},
                {"code":"P1463","note":"Air Conditioning Pressure (ACP) sensor insufficient pressure change"},
                {"code":"P1464","note":"Air Condition (A/C) demand out of Self - Test range"},
                {"code":"P1469","note":"Low air conditioning cycling period"},
                {"code":"P1473","note":"Fan secondary high with fan(s) off"},
                {"code":"P1474","note":"Low Fan Control primary circuit malfunction"},
                {"code":"P1479","note":"High Fan Control primary circuit malfunction"},
                {"code":"P1481","note":"Fan secondary low with high fan on"},
                {"code":"P1483","note":"Power to fan circuit over current"},
                {"code":"P1484","note":"Open power ground to Variable Load Control Module (VLCM)"},
                {"code":"P1500","note":"Неисправность цепи реле топливного насоса"},
                {"code":"P1501","note":"Иммобилайзер - нет кода или неправильный код"},
                {"code":"P1502","note":"Реле топливного насоса - замыкание на +12V"},
                {"code":"P1503","note":"Иммобилайзер - неправильный сигнал"},
                {"code":"P1504","note":"Idle Air Control (IAC) circuit malfunction"},
                {"code":"P1505","note":"Idle Air Control (IAC) system at adaptive clip"},
                {"code":"P1506","note":"Idle Air Control (IAC) overspeed error"},
                {"code":"P1507","note":"Idle Air Control (IAC) under speed error"},
                {"code":"P1509","note":"Цепь управления регулятором холостого хода, перегрузка"},
                {"code":"P1512","note":"Intake Manifold Runner Control (IMRC) malfunction (Bank # 1 stuck closed)"},
                {"code":"P1513","note":"Intake Manifold Runner Control (IMRC) malfunction (Bank # 2 stuck closed)"},
                {"code":"P1514","note":"Цепь управления регулятором холостого хода - обрыв"},
                {"code":"P1516","note":"Intake Manifold Runner Control (IMRC) input error (Bank # 1)"},
                {"code":"P1517","note":"Intake Manifold Runner Control (IMRC) input error (Bank # 2)"},
                {"code":"P1518","note":"Intake Manifold Runner Control (IMRC) malfunction (stuck open)"},
                {"code":"P1519","note":"Intake Manifold Runner Control (IMRC) malfunction (stuck closed)"},
                {"code":"P1520","note":"Intake Manifold Runner Control (IMRC) circuit malfunction"},
                {"code":"P1530","note":"Air Condition (A / C) clutch circuit malfunction"},
                {"code":"P1537","note":"Intake Manifold Runner Control (IMRC) malfunction (Bank # 1 stuck open)"},
                {"code":"P1538","note":"Intake Manifold Runner Control (IMRC) malfunction (Bank # 2 stuck open)"},
                {"code":"P1539","note":"Power to Air condition (A / C) clutch circuit overcurrent"},
                {"code":"P1541","note":"Цепь управления реле бензонасоса, обрыв"},
                {"code":"P1550","note":"Power steering Pressure (PSP) sensor out of Self - Test range"},
                {"code":"P1554","note":"Цепь обратной связи с системой круиз-контроля"},
                {"code":"P1570","note":"Обрыв цепи иммобилизатора"},
                {"code":"P1600","note":"Нет связи с иммобилизатором"},
                {"code":"P1601","note":"ECM Box Temperature High"},
                {"code":"P1602","note":"Пропадание напряжения контроллера"},
                {"code":"P1603","note":"Ошибка EEPROM"},
                {"code":"P1604","note":"Устройство контроля детонации"},
                {"code":"P1605","note":"Устройство контроля детонации"},
                {"code":"P1606","note":"Устройство контроля детонации"},
                {"code":"P1612","note":"Ошибка сброса процессора"},
                {"code":"P1619","note":"Electrical Thermostat Control powerstage (too high)"},
                {"code":"P1620","note":"Ошибка ПЗУ"},
                {"code":"P1621","note":"Ошибка OЗУ"},
                {"code":"P1622","note":"Ошибка EEPROM"},
                {"code":"P1625","note":"B(+) supply to ariable Load Control Module (VCLM) fan circuit malfunction"},
                {"code":"P1626","note":"B(+) supply to Variable Load Control Module (VCLM) Air Condition (A / C) circuit malfunction"},
                {"code":"P1629","note":"Не поступает сигнал от топливной системы"},
                {"code":"P1635","note":"Цепь 5 вольт, только для автомобиля Oldsmobile"},
                {"code":"P1639","note":"2 цепь 5 вольт, только для автомобиля Oldsmobile"},
                {"code":"P1640","note":"Устройство контроля детонации или модуль полного привода"},
                {"code":"P1641","note":"Контрольная цепь индикаторной лампы неисправностей (MIL)"},
                {"code":"P1650","note":"Power Steering Pressure (PSP) switch out of Self - Test range"},
                {"code":"P1651","note":"Power Steering Pressure (PSP) switch input malfunction"},
                {"code":"P1652","note":"Контрольная цепь 2 реле вентилятора, только для автомобиля Oldsmobile"},
                {"code":"P1654","note":"Контрольная цепь реле кондиционера (A/C)"},
                {"code":"P1662","note":"Цепь системы круиз-контроля"},
                {"code":"P1663","note":"Контрольная лампа перезарядки"},
                {"code":"P1671","note":"Контрольная лампа замены масла"},
                {"code":"P1672","note":"Контрольная лампа низкого уровня масла"},
                {"code":"P1675","note":"Контрольная цепь соленоида системы отвода паров топлива (EVAP)"},
                {"code":"P1689","note":"Ошибка памяти ошибок"},
                {"code":"P1690","note":"Ошибка лампы диагностики"},
                {"code":"P1693","note":"MIL-on requestsignal (High)"},
                {"code":"P1701","note":"Reverse engagement error"},
                {"code":"P1703","note":"Brake On/Off (BOO) switch out of Self - Test range"},
                {"code":"P1705","note":"Transmission control system(TR) Sensor out of Self - Test range"},
            ] %}
            <p>
                <b>Расшифровка кодов ошибок Nissan</b>
            </p>
            <div style="display: grid;
                        grid-template-columns: max-content auto;
                        gap: 4px">
                {% for code in ODB_CODES %}
                    <div>{{ code.code }}</div>
                    <div style="font-size: 16px;font-weight: 300;">{{ code.note }}</div>
                {% endfor %}
            </div>
        </div><!-- END user-content-styles -->
    </div><!-- END article__body -->
{% endblock %}
