@import '../0_helpers/variables';

/*--------------------- BLOCKS: Garage -------------------------------------*/
.garage {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "contacts cars"
    "recommendations recommendations"
    "works works";
  grid-gap: 20px;
  margin-bottom: 30px;

  .form__line {
    margin-bottom: 10px;
  }

  &__recommendations {
    grid-area: recommendations;
  }

  &__works {
    grid-area: works;
  }

  &__contacts {
    grid-area: contacts;
  }

  .garage__join-btn {
    display: block;
    flex: 0 0 auto;
    padding: 9px 30px 7px;
    margin: 0 0 0 auto;
  }

  &__cars {
    grid-area: cars;
  }

  &__block {
    border: 1px solid #f1f2f5;
    border-radius: 20px;
    transition: box-shadow .6s;
    padding: 40px 40px 50px;
    background-color: #fff;

    &:hover {
      box-shadow: 0 20px 60px -30px rgba(0, 0, 0, .7);
    }
  }

  &__title {
    margin: 0 0 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }


  &__add-btn {
    display: block;
    color: @dark;
    border-color: @dark;
  }

  &__works {

    &__list {
      border: 1px solid #f1f2f5;
      border-radius: 20px;
      margin-bottom: 10px;
    }

    &__table-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
      column-gap: 5px;

      &>div {
        align-self: center;
        padding: 5px;
        margin: 0 auto;
        &:nth-child(6) {
          display: none;
        }

      }

      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

      &:first-child {
        background-color: #E5E5E5;
        font-weight: 700;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
      }

      &:last-child {
        border-radius: 0 0 20px 20px;
      }

      &:hover {
        transition: all 0.3s;
        background-color: #E5E5E5;
      }
    }


    &__info {
      position: relative;
      width: 24px;
      height: 24px;
      background: #b7bcc0 no-repeat 50% data-uri("@{img-dir}icons/icon_question_gray.svg");
      background-size: auto 12px;
      border-radius: 50%;
      align-self: center;

      &>span {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        bottom: 100%;
        right: -1px;
        margin-bottom: 8px;
        border-radius: 10px 10px 10px;
        width: 300px;
        padding: 7px 10px;
        box-shadow: 0 0 12px rgb(0 0 0 / 20%);
        font-size: 14px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            right: 6px;
            border-top: 7px solid #fff;
            border-left: 7px solid rgba(0,0,0,0);
            border-right: 7px solid rgba(0,0,0,0);
        }
      }

      &:hover span {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__car {

    &__line {
      display: grid;
      grid-template-areas:
        "info plate"
        "sub-info select";
      justify-content: space-between;
      padding: 10px 20px;
      border: 1px solid #FFFFFF;
      border-radius: 20px;

      &.is-active {
        border: 1px solid @gray;
      }
    }

    &__info {
      grid-area: info;
      font-size: 20px;
      align-self: center;
    }

    &__sub-info {
      font-size: 14px;
      grid-area: sub-info;

      &> span {
        display: block;
      }
    }

    &__btns {
      grid-area: select;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 0 0 auto;
    }

    &__btn {
      display: block;
      flex: 0 0 auto;
      color: #858585;
      font-size: 18px;
      line-height: 20px;
      border-bottom: 1px solid #858585;
      text-align: right;
    }

    &__plate {
      grid-area: plate;
      display: flex;
      position: relative;
      flex-flow: row nowrap;
      align-items: flex-start;
      flex: 0 0 auto;
      width: 172px;
      height: 36px;
      text-align: center;
      font-weight: 700;
      background: no-repeat data-uri("@{img-dir}backgrounds/bg_car-nomer.png");
      background-size: auto 100%;
      overflow: hidden;

      &-num {
        display: block;
        flex: 0 0 126px;
        padding-left: 5px;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: .1em;
      }

      &-reg {
        display: block;
        flex: 0 0 46px;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

/* ---------- ADAPTIVE < 1180 ------------------------------------------------*/
@media (max-width: 1180px) {
  .garage {
    margin: 0 -10px;
  }
}

/* ---------- ADAPTIVE < 1024 ------------------------------------------------*/
@media (max-width: 1024px) {
  .garage {
    grid-template-columns: unset;
    grid-template-areas:
            "contacts"
            "cars"
            "recommendations"
            "works";

    &__add-btn {
      margin-bottom: 20px;
    }
  }
}

/* ---------- ADAPTIVE < 760 -------------------------------------------------*/
@media (max-width: 760px) {
  .garage {

    &__title {
      margin: 0 0 15px;
      font-size: 20px;
      line-height: 24px;
    }

    &__block {
      padding: 20px 20px 30px;
    }
  }
}

/* ---------- ADAPTIVE < 540 -------------------------------------------------*/


@media (max-width: 545px) {
  .garage {

    &__car {

      &__line {
        grid-template-areas:
        "info"
        "plate"
        "select";
        row-gap: 10px;
        justify-content: center;
      }

      &__sub-info {
        display: none;
      }
    }

    &__works__table-row {

      &>div {
        &:nth-child(6n+1),
        &:nth-child(6n+3),
        &:nth-child(6n+5) {
          display: none;
        }

        &:nth-child(6n+6) {
          display: block;
        }
      }
      grid-template-columns: repeat(2, auto) 28px;
    }
  }
}

