@import '../0_helpers/variables';

/*--------------------- BLOCKS: Garage -------------------------------------*/
.garage {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "contacts cars"
    "recommendations recommendations"
    "works works";
  grid-gap: 20px;
  margin-bottom: 30px;

  .form__line {
    margin-bottom: 10px;
  }

  &__recommendations {
    grid-area: recommendations;
  }

  &__works {
    grid-area: works;
  }

  &__contacts {
    grid-area: contacts;

    .car-info__join-btn {
      margin: 0 0 0 auto;
    }
  }

  &__cars {
    grid-area: cars;
  }

  &__block {
    border: 1px solid #f1f2f5;
    border-radius: 20px;
    transition: box-shadow .6s;
    padding: 40px 40px 50px;
    background-color: #fff;

    &:hover {
      box-shadow: 0 20px 60px -30px rgba(0, 0, 0, .7);
    }
  }

  &__title {
    margin: 0 0 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  &__prods {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -20px;
    padding: 0;
    list-style: none;
  }

  &__prod {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px 40px;
  }

  &__add-btn {
    display: block;
    color: @dark;
    border-color: @dark;
  }
}

/* ---------- ADAPTIVE < 1180 ------------------------------------------------*/
@media (max-width: 1180px) {
  .garage {
    margin: 0 -10px;

    &__prods {
      margin: 0 -10px;
    }

    &__prod {
      padding: 0 10px 20px;
    }

  }
}

/* ---------- ADAPTIVE < 1024 ------------------------------------------------*/
@media (max-width: 1024px) {
  .garage {
    grid-template-columns: unset;
    grid-template-areas:
            "contacts"
            "cars"
            "recommendations"
            "works";

    &__add-btn {
      margin-bottom: 20px;
    }
  }
}

/* ---------- ADAPTIVE < 760 -------------------------------------------------*/
@media (max-width: 760px) {
  .garage {

    &__title {
      margin: 0 0 15px;
      font-size: 20px;
      line-height: 24px;
    }

    &__block {
      padding: 20px 20px 30px;
    }

    &__prods {
      margin: 0 -5px;
    }

    &__prod {
      padding: 0 5px 10px;
    }
  }
}

@media (max-width: 540px) {
  .garage {


    &__prod {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

