{% set clubs = [
    {
        "name": "club-fx.ru",
        "logo": asset('img/sec-partners/clubs/club_fx.png')
    },{
        "name": "my-infiniti.ru",
        "logo": asset('img/sec-partners/clubs/my_infiniti.png')
    },{
        "name": "almera-classic.ru",
        "logo": asset('img/sec-partners/clubs/almera_classic.png')
    },{
        "name": "clubmurano.ru",
        "logo": asset('img/sec-partners/clubs/club_murano.png')
    },{
        "name": "clubqashqai.ru",
        "logo": asset('img/sec-partners/clubs/club_qashgai.png')
    },{
        "name": "club-tiida.ru",
        "logo": asset('img/sec-partners/clubs/club_tiida.png')
    },{
        "name": "march-club.ru",
        "logo": asset('img/sec-partners/clubs/march_club.png')
    },{
        "name": "maxima-qx.ru",
        "logo": asset('img/sec-partners/clubs/maxima_qx.jpg')
    },{
        "name": "nissan-note.info",
        "logo": asset('img/sec-partners/clubs/nissan_note.gif')
    },{
        "name": "primera-club.ru",
        "logo": asset('img/sec-partners/clubs/primera_club.png')
    },{
        "name": "x-trail-club.ru",
        "logo": asset('img/sec-partners/clubs/x_trail_club.jpg')
    }
] %}

<section class="sec-partners">
    <div class="container" >
        <h2 class="sec-partners__title">Нам доверяют основные клубы Nissan Москвы</h2>
        <div class="sec-partners__slider">
            <div class="swiper-container js-partners-swiper">
                <div class="swiper-wrapper">

                    {% for club in clubs %}
                        <div class="swiper-slide sec-partners__slide">
                            <img class="sec-partners__logo lazyload" data-src="{{ club.logo }}" loading="lazy" alt="{{ club.name }}">
                        </div>
                    {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="slick-arrow slick-prev"></div>
            <div class="slick-arrow slick-next"></div>
        </div>
    </div>
</section>
