{% from '_sections/chunks/odometer.twig' import odometer %}

<section class="sec-experience">
    <div class="sec-experience__back lazy"></div>
    <div class="sec-experience__front">
        <div class="container">
            <h2 class="sec-experience__title">Доверьте диагностику профессионалам</h2>
            {{ odometer('sec-experience__facts') }}
        </div><!-- END container -->
    </div><!-- END sec-experience__front -->
</section><!-- END sec-experience -->
