{% from '_sections/chunks/features_items.twig' import renderFeatures %}

{% set features = [
                   'piston', 'mechanic', 'heart', 'star',
                   'keys', 'growth', 'inform', 'binocul'
] %}

<section class="sec-features js-sec-scroll">
    {{ include('_sections/chunks/features_back.html.twig') }}>
    <div class="sec-features__front">
        <div class="container">

            {{ renderFeatures(features, "sec-features__list") }}

        </div>
    </div>
</section><!-- END sec-features -->
