{% from '_sections/chunks/odometer.twig' import odometer %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

<section class="sec-happen">
    <div class="sec-happen__back" style="background-image: url({{ asset('img/backgrounds/bg_sec-happen_01.jpg') }})"></div>
    <div class="sec-happen__front">
        <div class="container">
            <div class="sec-happen__row">
                <div class="sec-happen__col-lt">
                    <h2 class="sec-happen__title">Не знаете что произошло?</h2>
                    <div class="sec-happen__lead">
                        Запишитесь на бесплатную консультацию <br> и наши специалисты выяснят в чем проблема!
                    </div>

                    {{ formSubscribe('sec-happen__form', 'schedule') }}

                    {{ odometer('sec-happen__facts') }}

                </div>
                <div class="sec-happen__col-rt">
                    <img class="sec-happen__img" src="{{ asset('img/sec-happen/happen-man.png') }}" alt="Автомагистр помощь">
                </div>
            </div>
        </div><!-- END container -->
    </div><!-- END sec-happen__front -->
</section><!-- END sec-happen -->
