<section class="sec-reviews">
    <div class="container">
        <h2 class="sec-reviews__title">Отзывы</h2>
        <div class="sec-reviews__slider">
            <div class="swiper-container" id="sec-reviews-slider">
                <div class="swiper-wrapper">

                </div>

            </div><!-- END sec-reviews__slider -->
            <div class="slick-arrow slick-prev"></div>
            <div class="slick-arrow slick-next"></div>
            <ul class="slick-dots"></ul>
        </div>

        <div class="sec-reviews__more">
            <a class="btn btn_arrow-rt sec-reviews__more-btn" href="{{ path('reviews') }}" >Посмотреть все отзывы</a>
        </div>
    </div>
</section>
