<section class="sec-reviews">
    <div class="container">
        <h2 class="sec-reviews__title">Отзывы</h2>
        <div class="sec-reviews__slider" id="sec-reviews-slider">

        </div><!-- END sec-reviews__slider -->
        <div class="sec-reviews__more">
            <a class="btn btn_arrow-rt sec-reviews__more-btn" href="{{ path('reviews') }}" >Посмотреть все отзывы</a>
        </div>
    </div><!-- END container -->
</section><!-- END sec-reviews -->
