{% extends 'blog/layout_article.html.twig' %}

{% block title %}
    <title>Регулировка клапанов и влияние ГБО на бензиновый двигатель</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="Ниссан, Nissan, ГБО, ГБЦ, ремонт, газовое оборудование, MR20DE">
    <meta name="description" content="Последствия использования газового оборудования на двигателе MR20DE">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Регулировка клапанов, и влияние ГБО на двигатель">
    <meta property="og:description" content="Последствия использования газового оборудования на двигателе MR20DE. Регулировака клапаннов">
{% endblock %}

{% set article = {
    'title': 'Регулировка клапанов и влияние ГБО на бензиновый двигатель',
    'background': 'adjustment_of_valves_15.jpg',
    'date': '21 апреля 2015',
    'img_path': '/images/blog/adjustment_of_valves/',
    'theme': 'Опыт'
} %}

{% block article_body %}
    <div class="article__body" id="js-article-page">
        <div class="user-content-styles">
            <div class="ucs-lead">
                Здравствуйте, уважаемые любители японских автомобилей, а также гости нашего сайта!
            </div>
            <div class="ucs-lead">
                В последнее время в наш автосервис стали часто обращаться клиенты с проблемами потери мощности,
                неустойчивой работы двигателя, посторонних звуков при работе мотора, повышенного расхода топлива,
                а другие клиенты и вовсе привозили автомобили на эвакуаторе без признаков жизни, моторы которых
                просто отказывались заводиться из-за низкой компрессии или полного её отсутствия.
            </div>
            <p>
                Казалось бы, обычная каждодневная рабочая ситуация для сотрудников сервиса, ничего нового,
                машины ломаются и их привозят на ремонт. Но есть одно «но»: причина проблем с двигателем у этих
                автомобилей крылась в эксплуатации автомобиля на природном газе. Об этом и пойдет речь в этой статье.
            </p>
            <p>
                Все автомобили были укомплектованы нештатным ГБО (газобаллонным оборудованием), установленным в
                частных мастерских и сервис центрах. С другой стороны, производитель не мог бы установить подобное
                оборудование на автомобиль, где двигатель не может работать на природном газе без последствий,
                о чем и пойдет речь.
            </p>
            <p>
                Давайте немного отвлечемся от нашей темы и обратимся к простому примеру: у компании NISSAN есть
                модель двигателя, которая специально разрабатывалась японскими инженерами для работы на природном
                газе, где учтены все особенности эксплуатации на данном виде топлива.
            </p>

            {% include 'blog/chunks/figure.html.twig' with {
                'img': article.img_path ~ 'adjustment_of_valves_01.jpg',
                'txt': 'Двигатель Nissan QG18DEN на газу'} only
            %}

            <p>
                Этот мотор модели QG18DEN, устанавливался на некоторые модификации автомобилей NISSAN AD и PULSAR
                для внутреннего японского рынка. Но в России многие считают, что могут установить ГБО на «обычный»
                двигатель, а все проблемы - ерунда и страшилки которыми пугают работники автосервисов, надо только
                правильно отрегулировать ГБО и будет счастье.
            </p>
            <blockquote>
                Но, к сожалению, счастья не будет, а будут только проблемы, и мнимая экономия на бензине перерастет
                в большие финансовые затраты. Итак, обратимся к теории и тем фактам, с которыми мы столкнулись
                в работе, все случаи, приведенные в этой статье, взяты из реальной жизни.
            </blockquote>
            <p>
                Пару месяцев назад, к счастью, своим ходом, прибыл к нам в автосервис NISSAN X-TRAIL в кузове T30,
                с мотором QR25, пробегом 90 тысяч километров, 2007 года рождения. Проблема, с которой обратился
                владелец этого прекрасного и, несомненно, надежного японского автомобиля, была следующая:
                неустойчивая работа двигателя и потеря мощности.
            </p>

            {% include 'blog/chunks/figure.html.twig' with {
                'img': article.img_path ~ 'adjustment_of_valves_05.jpg',
                'txt': 'Газовое оборудовние на двигателе'} only
            %}

            <p>
                Перед тем как обратиться в наш сервис, владелец этого автомобиля был на диагностике в другом техцентре,
                где было установлено следующее: низкая компрессия во всех четырех цилиндрах двигателя и как следствие
                нестабильная его работа. В этом техцентре не задумываясь и не разбираясь в причине неисправности,
                предложили человеку капитальный ремонт двигателя за 100 тысяч рублей. В расстроенных чувствах, покинув
                это заведение, владелец решил попытать счастье у других специалистов в другом сервис центре.
                Однако, там ситуация в корне изменилась, и было установлено, что причина низкой компрессии
                в цилиндрах - это зажатые выпускные клапана, но отрегулировать они их не могут, так как у них нету
                регулировочных стаканов, заказать их тяжело, да и с размером они могут ошибиться. Дали ценный совет:
                добивай мотор, поставишь потом контрактный. Покинув этот сервис в не менее расстроенных чувствах, владелец
                стал обзванивать многочисленные СТО где ему говорили одно и тоже: «не занимаемся», «не делаем» и т.д.
                Спустя месяц эта машина попадает к нам в сервис.
            </p>
            <p>
                Итак, уважаемые автолюбители, мы добрались до того момента, когда открывается истинная причина всех
                проблем. Внимательно выслушав проблемы владельца, мы приступаем к первичной диагностике двигателя,
                фиксируем низкую компрессию в цилиндрах, а также множественные пропуски зажигания, прописанные в виде
                ошибок в ЭБУ. Снимаем клапанную крышку, и делаем контрольный замер теплового зазора клапанов,
                результат ожидаемый: все выпускные клапана зажаты, соответственно клапан находится в постоянно
                приоткрытом состоянии, естественно эталонная компрессия невозможна на этом двигателе, отсюда
                и неустойчивая работа мотора и потеря мощности.
            </p>

            {% include 'blog/chunks/gallery.html.twig' with {
                'path': article.img_path,
                'gallery': [
                    {
                        'img': 'adjustment_of_valves_04.jpg',
                        'txt': 'Двигатель QR25DE',
                    },{
                        'img': 'adjustment_of_valves_13.jpg',
                        'txt': 'Проверка зазора клапана',
                    },{
                        'img': 'adjustment_of_valves_14.jpg',
                        'txt': 'Проверка зазора клапана',
                    },{
                        'img': 'adjustment_of_valves_09.jpg',
                        'txt': 'Измерительные щупы',
                    },{
                        'img': 'adjustment_of_valves_08.jpg',
                        'txt': 'Измерительные щупы',
                    }
                ]
            } only %}

            <p>
                Многие сейчас зададут вопрос: почему тепловой зазор на выпускных клапанах каким-то чудесным образом
                уменьшился да ещё да такой степени, что клапан оказался полностью зажат? Ответ очень простой:
                газ догорает на выпускном клапане, металл перегревается и клапан вытягивается, уменьшается
                тепловой зазор и клапан остается в полуоткрытом состоянии, и тогда уже начинает прогорать седло клапана
                и разрушается сам клапан. Результат - дорогостоящий ремонт, либо замена ГБЦ.
            </p>
            <p>
                Теперь давайте разберемся, почему это происходит на двигателе который должен работать на бензине,
                но его эксплуатируют на газе.
            </p>
            <div class="row">
                <div class="col_11-12">
                    <ul>
                        <li>Температура горения газа выше горения температуры бензина</li>
                        <li>ЭБУ запрограммирован на работу с бензино-воздушной смесью, отсюда некорректная работа датчиков и системы зажигания в целом.</li>
                        <li>Материалы из которых изготовлены отдельные детали двигателя не рассчитаны для работы в более тяжелых условиях эксплуатации.</li>
                    </ul>
                </div>
            </div>
            <p>
                Все вышеперечисленное не продлевает ресурс двигателя, который разработан для работы на
                бензино-воздушной смеси. Теперь вернемся к истории с NISSAN X-TRAIL. Естественно, определить на
                100% что случилось в данном случае очень тяжело, может прогореть клапан, может разрушится седло
                клапана, может и поршень прогореть, да все что угодно может произойти, после такой газовой терапии.
                Перед нами стояла задача определить причину, и чтобы владелец не понес дополнительные ненужные расходы.
            </p>
            <p>
                От заказа калибровочных стаканов мы сразу отказались, так как это очень долго по времени и в случае
                разрушения седла клапана, они нам скорее всего не потребовались бы, а владельцу и подавно.
                Так как клапан вытянулся и тепловой зазор уменьшился, было принято решение привести его в соответствие
                с заводскими характеристиками методом подточки верхней части штока клапана. Далее последовала долгая
                и кропотливая работа, так как после снятия небольшого слоя с поверхности штока клапана, приходилось
                устанавливать распределительные валы и промерять зазоры, потому что ошибившись и сделав зазор
                большим чем предписываются в заводских характеристиках, мы бы не смогли бы его компенсировать
                калибровочным стаканом, так как пришлось бы опять же заказывать его и ждать долгое время.
            </p>
            <blockquote>
                После 10 часов проделанной работы, механикам нашего техцентра все таки удалось довести все зазоры до
                эталонного значения. Компрессия в цилиндрах поднялась до 11 бар, пропуски зажигания прекратились,
                двигатель стал развивать мощность и у автомобиля появилась завидная динамика, чему владелец был
                несомненно рад.
            </blockquote>

            {% include 'blog/chunks/gallery.html.twig' with {
                'path': article.img_path,
                'gallery': [
                    {
                        'img': 'adjustment_of_valves_15.jpg',
                        'txt': 'Подготовка клапана',
                    },{
                        'img': 'adjustment_of_valves_03.jpg',
                        'txt': 'Метки ГРМ',
                    },{
                        'img': 'adjustment_of_valves_18.jpg',
                        'txt': 'Стаканы клапанов',
                    },{
                        'img': 'adjustment_of_valves_22.jpg',
                        'txt': 'Подгонка высоты клапана',
                    }
                ]
            } only %}

            <p>
                Это всего лишь одна из многочисленных историй про автомобиль, который побывал у нас в сервисе по
                причине использования ГБО на двигателе, не предназначенном для работы на природном газе.
                Но не всегда подобные случаи заканчиваются одинаково хорошо. Были у нас машины, где прогорали клапана
                и разрушались седла, и ремонт обходился владельцам в приличные суммы денег.
                Уважаемые друзья, теперь можете сделать для себя какие-то выводы, а стоит ли рисковать здоровьем своего
                железного коня, ради спорной экономии?
            </p>

            {% include('blog/chunks/gallery.html.twig') with {
                'path': article.img_path,
                'gallery': [
                    {'img': 'adjustment_of_valves_02.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_06.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_07.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_10.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_11.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_12.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_16.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_17.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_19.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_20.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_21.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_23.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_24.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_25.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_26.jpg', 'txt': ''},
                    {'img': 'adjustment_of_valves_27.jpg', 'txt': ''},
                ]
            } only %}

        </div>
    </div>
{% endblock %}
