{% extends "blog/layout_article.html.twig" %}
{% set PAGE_ID = 'article_obuchenie_drosselja_nissan' %}

{% block title %}
    <title>Обучение дроссельной заслонки автомобилей Nissan</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="Nissan, Ниссан, дроссель, дроссельная заслонка, обороты холостого хода, двигатель, инструкция">
    <meta name="description" content="Процедура обучения электронных дроссельных заслонок и педали акселератора на  автомобилях Ниссан для восстановления оборотов холостого хода">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Обучение дроссельной заслонки автомобилей Nissan">
    <meta property="og:description" content="Процедура обучения электронных дроссельных заслонок на автомобилях Ниссан для восстановления оборотов холостого хода">
{% endblock %}

{% set article = {
    "title": "Обучение дроссельной заслонки и педали акселератора на Ниссан",
    "background": "article_pic_01.jpg",
    "date": "02 июля 2012",
    "img_path": "/images/blog/obuchenie_drosselja_nissan/",
    "theme": "Инструкция"
} %}

{% block article_body %}
    <div class="article__body" id="js-article-page">
        <div class="user-content-styles">
            <div class="ucs-lead">
                Процедура обучения электронных дроссельных заслонок и педали акселератора на  автомобилях Ниссан для восстановления оборотов холостого хода
            </div>
            <p>
                Процедура обучения электронных дроссельных заслонок и педали акселератора на Ниссан должна быть выполнена каждый раз после того, как кабель датчика положения педали акселератора или электронный блок управления был разъединен.
            </p>
            <div class="ucs-lead">
                Перед обучением оборотов холостого хода должны быть выполнены следующие условия:
            </div>
            <div class="row">
                <div class="col_11-12">
                    <ul>
                        <li>Двигатель и АКПП должны быть прогреты/температура двигателя должна быть 70-95 град, иначе не обучение не произойдет (вот это поймать трудно!)</li>
                        <li>Если КПП автомат, поставить на Р</li>
                        <li>Переключатель света на OFF, если нет "дневного" света; если есть - на габариты</li>
                        <li>выключить печку и обогрев заднего стекла непосредственно перед обучением</li>
                    </ul>
                </div>
            </div>

            <blockquote>
                Потребуются часы с секундомером, все описанные ниже временные интервалы надо выполнять очень точно!
            </blockquote>
            <div class="ucs-lead">
                Процедура обучения дросселя
            </div>
            <div class="row">
                <div class="col_11-12">
                    <ol>
                        <li>Выключить зажигание (заглушить мотор) после всех прогревов как минимум на 10 сек</li>
                        <li>Убедившись, что педаль газа отпущена, включить зажигание (ключ в положение ON, мотор не заводить) и ждать 3 сек</li>
                        <li>В течение 5 сек быстро нажать (до упора!) и отпустить педаль газа 5 раз</li>
                        <li>Через 7 сек нажать до упора и держать педаль газа до тех пор, пока жёлтая лампочка CНЕСK ENGINE не станет мигать(~10сек) и не загорится постоянно(~ 20 сек)</li>
                        <li>Через 3 сек после постоянного загорания лампы отпустить педаль газа</li>
                        <li>Завести двигатель (если глохнет - повторить запуск) и ждать 20 сек</li>
                        <li>Нажать педаль газа 2-3 раза и убедиться, что мотор возвращается на нормальные холостые</li>
                    </ol>
                </div>
            </div>
            <blockquote>
                Пункты 1-5 выполняются на включенном зажигании и заглушенном двигателе. Пункт 6 - при заведенном моторе
            </blockquote>
            <div class="ucs-lead">
                Процедура обучения педали акселератора(газа) отпущенному положению
            </div>
            <p>
                Операция, необходимая для контроля выходного сигнала датчика положения педали акселератора.<br>
                Она должна быть выполнена каждый раз, когда кабель датчика положения педали акселератора или ЭБУ был разъединен.<br>
                Удостоверьтесь, что педаль акселератора полностью выпущена.
            </p>
            <div class="row">
                <div class="col_11-12">
                    <ol>
                        <li>Повернуть ключ зажигания в положение"ON" и ждать по крайней мере 2 секунды</li>
                        <li>Выключить зажигание, ждать по крайней мере 10 секунд</li>
                        <li>Повернуть ключ зажигания в положение"ON" и ждать по крайней мере 2 секунды</li>
                        <li>Выключить зажигание, ждать по крайней мере 10 секунд</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
