{% extends 'layout.html.twig' %}

{% set white_header = true %}
{% set brand = app.request.attributes.get('brand')|capitalize %}
{% set PAGE_ID = brand|lower ~ '_contacts' %}

{% block title %}
    <title>Контакты автосервиса {{ brand }}</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="автосервис {{ brand }} в Москве, Чертаново, контакты, телефон, адрес, email, whatsapp, telegram">
    <meta name="description" content="Контакты автосервиса {{ brand }}: контакты, телефон, адрес, email, whatsapp, telegram, карта">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Автомагистр. +7(495) 984 8182">
    <meta property="og:description" content="г. Москва, ул. Газопровод 6Ас2. C 10-00 до 21-00 без выходных.">
{% endblock %}

{% block content %}
    <main class="site-main ">
        {{ include('_sections/map.html.twig') }}
    </main>
{% endblock %}
