{% extends 'layout_white.html.twig' %}

{% block title %}
    <title>Гарантийные условия</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="Гарантия">
    <meta name="description" content="Гарантия">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Автомагистр Гарантийные Условия">
    <meta property="og:description"
          content="Условия гараниии на обслуживание и запчасчасти приоритенные к техцентре Автомагистр">
{% endblock %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">Гарантийные условия</h1>
            </div>
        </div>

        <div class="page__body" id="js-blog-page">
            <div class="container">
                <div class="page__cntr">
                    <div class="user-content-styles with-hyphens">
                        <p>
                            <b>Статья 25:</b> Обмен непродовольственного товара надлежащего качества проводится, если
                            указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства,
                            пломбы, фабричные ярлыки, а также имеется товарный чек или кассовый чек либо иной
                            подтверждающий оплату указанного товара документ. Отсутствие у потребителя товарного чека
                            или кассового чека либо иного подтверждающего оплату товара документа не лишает его
                            возможности ссылаться на свидетельские показания.
                        </p>
                        <p>
                            Претензии по качеству деталей не принимаются в случае несоблюдения покупателем:
                        </p>
                        <ul>
                            <li>на детали, имеющие механические повреждения (следы вскрытия или ремонта)</li>
                            <li>на детали, имеющие следы неправильной установки или неправильной эксплуатации</li>
                            <li>на детали, повреждения которых явилось следствием неисправности других узлов
                                автомобиля
                            </li>
                        </ul>
                        <h3>Гарантийные сроки</h3>
                        <p>Гарантия на запасные части (кроме электрических) согласно законодательства составляет 1
                            месяц, даже если она не указана, с момента получения Товара покупателем и выполняется при
                            следующих условиях.</p>
                        <p>Продавец вправе установить на товар гарантийный срок, если он не установлен изготовителем.(п.
                            7 статья 5 Федерального закона «О защите прав потребителя»)</p>
                        <p>Качество запчастей гарантируется фирмами производителями. Гарантийный срок исчисляется с
                            момента получения запчастей покупателем</p>
                        <p>На оригинальные запчасти устанавливается гарантийный срок 12 месяцев, если более длительный
                            срок не был установлен заводом изготовителем. На остальные запчасти предоставляется гарантия
                            на установку в течение 14 календарных дней. Гарантия не предоставляется на запасные части,
                            подверженные естественному износу, такие как:</p>
                        <ul>
                            <li>фильтрующие элементы воздушных, масляных и топливных фильтров</li>
                            <li>свечи зажигания</li>
                            <li>контакты распределителя зажигания</li>
                            <li>свечи накаливания</li>
                            <li>конденсаторы</li>
                            <li>лампы накаливания (обрыв нити накаливания)</li>
                            <li>тормозные колодки, тормозные накладки</li>
                            <li>диски сцепления</li>
                            <li>ремни</li>
                            <li>щетки стеклоочистителя и профильные резинки щеток</li>
                            <li>шланги систем охлаждения и шланги, по которым циркулирует горячий тосол</li>
                            <li>резиносодержащие элементы ходовой части автомобиля</li>
                            <li>электрические и электронно-содержащие детали и узлы</li>
                        </ul>
                        <h3>Не подлежит возврату</h3>
                        <p>Прочие товары бытовой химии: смазочные масла, солидол, колесная мазь, берестовый деготь,
                            вазелин, масло машинное, смазка бытовая, замазка оконная, сухой спирт, сухое горючее, бензин
                            для зажигалок, дистиллированная вода, электролит, серная и соляная кислота, нашатырный
                            спирт, канифоль, парафин, шпакрил, шпатлевка, карболат, шпатлевочный порошок, сухой
                            антимелитель, зеленка для побелки, синька малярная, гермепласт, порошок для пола, графитный
                            порошок. Анилиновые красители в пакетах для домашнего крашения. Краситель для кожи. Свечи
                            парафиновые, восковые (хозяйственные декоративные, обрядовые). Аммиак водный,
                            технический.</p>
                        <h3>Прочие условия возврата</h3>
                        <p>В случаях, когда предусмотренный договором гарантийный срок составляет менее двух лет и
                            недостатки товара обнаружены потребителем по истечении гарантийного срока, но в пределах
                            двух лет, потребитель вправе предъявить продавцу (изготовителю) требования, предусмотренные
                            статьей 18 Закона « О защите прав потребителей», если докажет, что недостатки товара
                            возникли до его передачи потребителю или по причинам, возникшим до этого момента.(п. 5,
                            статья 19 Федерального Закона «О защите прав потребителя»)</p>
                        <p>Продавец (изготовитель), уполномоченная организация или уполномоченный индивидуальный
                            предприниматель, импортер отвечает за недостатки товара, на который не установлен
                            гарантийный срок, если потребитель докажет, что они возникли до передачи товара потребителю
                            или по причинам, возникшим до этого момента. (п.6, статья 18 Федерального закона «О защите
                            прав потребителя»)</p>
                        <h3>Процедура возврата</h3>
                        <p>Для возврата некачественного товара необходимо предоставлять следующий комплект
                            документов:</p>
                        <ol>
                            <li>Документы, свидетельствующие о покупке данной детали у Исполнителя</li>
                            <li>Заказ-наряд на установку этой детали, выданный сервисным центром, в котором должны быть
                                указаны следующие сведения: государственный регистрационный знак (номер) автомобиля,
                                VIN-код автомобиля (номер шасси), марка автомобиля, тип двигателя, ФИО владельца, пробег
                                автомобиля на момент установки данной детали
                            </li>
                            <li>Заказ-наряд на выполнение работ по замене сопряжённых узлов и агрегатов, если это
                                необходимо
                            </li>
                            <li>Копию документа, подтверждающую оплату данных видов работ</li>
                            <li>Заключение сервисного центра о причинах неисправности детали, выполненное на фирменном
                                бланке
                            </li>
                        </ol>
                        <p>В случае отсутствия на эти возвратные запчасти пакета документов компания проводит
                            собственную экспертизу и выносит решение.</p>
                        <h3>Сроки гарантийного ремонта</h3>
                        <p>Закон установил, что экспертиза проводится в сроки, установленные статьями 20, 21 и 22 Закона
                            «О защите прав потребителей» для удовлетворения соответствующих требований потребителя:</p>
                        <ul>
                            <li>Если потребитель требует устранение недостатков товара, срок проведения экспертизы не
                                может превышать 45 дней
                            </li>
                            <li>Если потребитель требует замены товара – экспертиза товара должна быть проведена в
                                течение 20 дней
                            </li>
                            <li>В течение 10 дней должна быть проведена экспертиза, если потребителем заявлено
                                требование о возврате уплаченной за товар денежной суммы, соразмерном уменьшении
                                покупной цены товара, возмещении расходов на исправление недостатков товара потребителем
                                или третьим лицом
                            </li>
                        </ul>
                        <h3>Экспертиза</h3>
                        <p>Потребитель вправе присутствовать при проведении экспертизы. О таком желании, как и в случае
                            проверки качества товара, желательно уведомить продавца (изготовителя, уполномоченную
                            организацию, импортера) письменно</p>
                        <p>Если в результате экспертизы будет установлено, что недостатки товара возникли вследствие
                            обстоятельств, за которые не отвечает продавец (изготовитель), то потребитель обязан
                            возместить продавцу (изготовителю, уполномоченной организации, импортеру), расходы на ее
                            проведение. Такими расходами будут являться документально подтвержденные расходы по оплате
                            непосредственно проведенной экспертизы, а также расходы, связанные с ее проведением (на
                            хранение и транспортировку товара). Оспорить заключение такой экспертизы потребитель вправе
                            в судебном порядке</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
