<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Наш автосервис
    </h1>
    <div class="sec-gallery__note">
        Сервисный центр «Автомагистр» окажет помощь в проведении автомобильного
        ремонта любой сложности, за проведение которого придётся заплатить
        совсем недорого. Понимая, как трудно найти качественный автосервис в
        Москве, мы готовы взяться за любую модель, но отдаем предпочтение
        японским и корейским автомобилям.
    </div>
</div>
