<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Автосервис Infiniti
    </h1>
    <div class="sec-gallery__note">
        <p>У вас появилась необходимость отремонтировать автомобиль Infiniti? Не знаете, где найти мастеров, которые
        качественно и за разумную цену проведут все необходимые работы? Тогда вы попали в правильное место: автосервис
        «Автомагистр» специализируется на ремонте автомобилей Infiniti и готов предоставить клиентам полный спектр услуг
        по диагностике, замене расходников и деталей, а также проведению ТО вашего транспортного средства.</p>

        <p>Наши специалисты имеют богатый опыт в работе с автомобилями Infiniti и могут в кратчайшие сроки выяснить причину
        поломки и устранить все неисправности. Обращаясь в сервисный центр «Автомагистр», вы доверяете свой автомобиль
        профессионалам и можете быть уверены в качественном результате.</p>
    </div>
</div>
