<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Автосервис KIA
    </h1>
    <div class="sec-gallery__note">
        <p>Нужен срочный ремонт вашего автомобиля KIA? Хоть ситуация и требует быстрого решения, к решению этой проблемы
        надо подойти ответственно. А мы – сервисный центр «Автомагистр» как раз ответственно подходим к своей работе и
        готовы предложить своим клиентам полный спектр технических услуг от диагностики вашего KIA, до сложных работ по
        ремонту основных агрегатов транспортного средства.</p>
        <p>Мы давно работаем с KIA и досконально изучили все их особенности. Отдавая свой автомобиль к нам для ремонта, вы
        можете быть уверены в качестве выполненных работ. Если вопрос касается ремонта KIA, наши клиенты всегда
        рекомендуют автосервис «Автомагистр».</p>
    </div>
</div>
