<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Ремонт Lexus
    </h1>
    <div class="sec-gallery__note">
        <p>Автомобили Lexus всегда выделяются в потоке. Это свой неповторимый характер и эстетика. И мы — специалисты
        сервисного центра «Автомагистр» — за долгое время нашей работы с этими прекрасными машинами отлично изучили все
        нюансы их ремонта и технического обслуживания.</p>

        <p>Центр «Автомагистр» готов предоставить полный спектр услуг ТО Lexus: диагностика, замена деталей и рабочих
        жидкостей, сложный ремонт двигателя, коробки передач и других основных агрегатов. Мы любим и знаем автомобили
        Lexus, поэтому доверяя нам свою машину, вы можете быть уверены в квалификации наших работников и качественном
        результате.</p>
    </div>
</div>
