<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Автосервис Nissan
    </h1>
    <div class="sec-gallery__note">
        <p>Вашему Nissan требуется срочный ремонт, но не знаете, где найти качественный и честный автосервис в Москве?
            Тогда вы попали по адресу: сервисный центр «Автомагистр» специализируется на автомобилях марки Nissan и готов
            провести ремонт автомобиля любой сложности. У нас работают компетентные специалисты, которые за адекватную цену
            решат любую техническую проблему вашего транспортного средства.</p>
        <p>Автосервис «Автомагистр» готов взять на себя
            ремонт Nissan любой сложности: наши специалисты способны решить самые разные технические задачи от проведения
            диагностики и планового технического обслуживания автомобиля,
            до замены ДВС, АКПП и других основных агрегатов вашего транспортного средства.</p>
    </div>
</div>
