<div class="sec-gallery__text sec-gallery__text_top-rt">
    <h1 class="sec-gallery__title">
        Автосервис Toyota
    </h1>
    <div class="sec-gallery__note">
        <p>Сложно найти автомобили надежнее и практичнее, чем Toyota, но даже самым выносливым машинам необходимо
        техническое обслуживание и своевременный ремонт. Специалисты сервисного центра «Автомагистр» давно работают с
        автомобилями марки Toyota и знают все их особенности.</p>

        <p>«Автомагистр» готов взяться за любую работу, касающуюся технического обслуживания вашего автомобиля: мы проводим
        диагностику, меняем расходные материалы и ремонтируем самые сложные неисправности, которые требуют серьёзного
        подхода. Специалисты «Автомагистра» готовы поручиться за качество своих услуг. Ремонт Toyota в нашем сервисном
        центре — это всегда работа на совесть.</p>
    </div>
</div>
